<nav>
  <ul>
    <li><%= link_to "Commanders in Wellness", "/pages/commanders_in_wellness" %></li>
    <li><%= link_to "Locations", "/pages/locations" %></li>
    <li><%= link_to "Careers", "/pages/careers" %></li>
    <li><%= link_to "Contact", "/pages/contact" %></li>
  </ul>
</nav>
