<footer>
  Stay Connected . . .
<!--   <form action="/email_list" method="post">
    <input type="hidden" name="authenticity_token" value="token_value">
    <input autofocus="autofocus" placeholder="name@email.com" type="email" name="connection[email]">
    <input type="submit" name="submit" >
  </form> -->

</footer>

