<footer>
 <!--- start footer -->
    <div id="footer-contain">
        <div class="row">
            <div class="small-12 medium-8 columns" >
               <h6 class="ProximaNova-Bold">Engaging Healthy Employees <span class="small">| EST</span> 1913</h6>
                <p class="ProximaNova-Bold">Stay Connected</p>
                <div class="row">
                    <div class="small-8 small-centered medium-7 medium-uncentered column" >
                        <form name="subscribe" action="/subscribe" method="post">
                            <input type="hidden" name="authenticity_token" value="token_value">
                            <input type="email" name="subscribe[email]" placeholder="name@email.com">
                            <input class="" type="Submit" value="Submit">
                        </form>
                    </div>
                </div>
            <p class="ProximaNova-Bold">Questions: <span class="ProximaNova-Regular">800.362.8671</span></p>
            </div><!-- end first column -->
            <div class="small-12 medium-2 columns" >
                <ul>
                    <li>Latest</li>
                    <li>Careers</li>
                    <li>Contact Us</li>
                    <li>Locations</li>
                    <li>FAQs</li>
                </ul>
            </div>
            <div class="small-12 medium-2 columns" >
                <ul>
                    <li>Privacy Policy</li>
                    <li>Terms of Use</li>
                    <li>HIPAA Notice</li>
                </ul>
            </div>
        </div>
        <div class="row">
                <div class="social-icons-container">
                    <div class="small-6 medium-1 columns">
                        <a href="https://www.instagram.com/eheintl/" target="_blank"><img class="social-icons" src="../assets/icon-instagram.png" alt="instagram"></a>
                    </div>
                    <div class="small-6 medium-1 columns">
                        <a href="https://www.facebook.com/ehehealth/" target="_blank"><img class="social-icons" src="../assets/icon-facebook.png" alt="facebook"></a>
                    </div>
                    <div class="small-6 medium-1 columns">
                        <a href="https://twitter.com/EHEIntl/" target="_blank"><img class="social-icons" src="../assets/icon-twitter.png" alt="twitter"></a>
                    </div>
                    <div class="small-6 medium-1 columns end">
                        <a href="https://www.youtube.com/user/EHEintl100/" target="_blank"><img class="social-icons" src="../assets/icons-youtube.png" alt="youtube"></a>
                    </div>
                </div>
          </div>
    </div>
<!-- end footer -->

</footer>

