<% title 'About' %>
<% description 'For over 100 years, EHE has been the leader in healthcare and wellbeing. We are pioneers in employee health and lifestyle management and are devoted to emp' %>
<% keywords 'EHE, About' %>
 <div class="page-header">
    <div class='row'>
      <div class='small-12'>
        <h1 class='title-heading text-center'>OUR STORY</h1>
      </div>
     </div>
        <div class='row'>
          <div class='small-12 large-6 column'>
                <p>EHE was founded in 1913 as the first care provider dedicated to giving healthy people the lifestyle guidance to be even healthier. It was an unprecedented approach, and the results were dynamic from the start. President Woodrow Wilson endorsed our diet, tens of thousands of preventive exams were conducted in just the first few years, and EHE began to change generations of lives.</p>
                <p>After inventing preventive care, EHE spent decades evolving it. We have led the way in embracing new tools and expanding expectations for what personal, holistic care can achieve. Medicine changed, and we always stayed on the forefront, giving patients personal attention and cutting-edge resources to live their healthiest lives.</p>
          </div>
          <div class='small-12 large-6 column'>
              <p>Our story is one of constant innovation, paired with unmatched experience. It's a formula that has made us healthcare leaders for more than 100 years.</p>
              <p>We're excited about where we're going. New technologies and deeper insights are giving us more opportunities than ever to help individuals get what they need to live differently and feel their best, every day.</p>
              <p>EHE has always helped people see their health differently. It's how we continue to build on our groundbreaking legacy. After a century of excellence, our story is only starting.</p>
          </div>
        </div>
    </div>
    <!-- START meet our commanders in wellness -->
    <div class="expanded row meet-commanders img-contain paraxify">
  <div class="color-overlay"> </div>
   <div class="small-12">
   <div class="row expanded">
     <div class="small-12 large-5 large-offset-7 columns text-center">
        <div class="content-contain">
           <h3 class="white-text">Meet Our Commanders in Wellness</h3>
            <p>EHE's care works because of our providers. You get supportive guidance from compassionate experts, working together to ensure you're comfortable and confident about your future.</p>
            <a href="#" class="cta round-button button-white ProximaNova-Medium" data-container="meet-commanders" >Engage With Our Team</a>
        </div>
     </div>
   </div>
   </div>
</div>



    <!-- END meet our commanders in wellness -->

    <!-- START Our Story -->
    <div class='row'>
        <div class='small-12 large-8 large-centered columns text-center'>
             <div class="content-contain">
              <h3 class="drkr-gray-text">Vision and Values</h3>
              <p>When you see your health differently, you can live differently.</p>
              <p>Great health is more than avoiding illness. It's giving yourself the opportunity to do more and feel better, every day. It's connecting to the life you want with confidence and a clear picture of what's ahead.</p>
              <p>EHE gives you a completely new kind of care. It combines prevention and holistic wellness in an experience that enhances both and lights your path to sustained, better health.</p>
              <p>Our care is designed to give people the personal attention, guidance, and compassion they need to chart a new course. We believe the more you understand how the parts of your life fit together, the healthier you can be.</p>
              <p>Your health is not defined by limitations. We want your journey to be comfortable and optimistic.</p>
              <p>We see transformation as possible. We believe in the power of your potential.</p>
              <p>We want to show you your healthiest life.</p>
            </div>
        </div>
    </div>
    <!-- END Our Story -->
    <!-- START See Locations Nationwide -->
      <div class="row expanded locations-callout">
          <div class="columns text-center white-text">
              <h3 class="white-text">Locations Nationwide</h3>
              <p class="white-text">EHE's expanded reach includes hundreds of doctors at locations across the United States, in small towns and big cities, giving patients consistently exceptional care.</p>
              <a href="#" class="round-button button-white ProximaNova-Bold">SEE MORE</a>
          </div>
      </div>
    <!-- END See Locations Nationwide -->

    <!-- latest carousel -->
<div class="latest-contain">
<div class="row">
  <div class="small-10 small-centered text-center">
    <h3 class="gray-text title-w-lines"><span>LATEST</span></h3>
  </div>
</div>
<div class="expanded row">
  <div class="small-12">
    <div class="latest-container">
      <% @posts.each do |post| %>
        <div>
          <p class="white-text"><%= post.title %></p>
          <%= link_to image_tag(post.main_image.url(:medium)), post_path(post)  %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
   <div class="small-12 text-center">
    <div class="content-contain bot-space-75">
      <%= link_to "SEE MORE", posts_path, :class => "round-button button-gray ProximaNova-Medium" %>
    </div>
   </div>
</div>
</div>
<!-- end latest carousel-->




<!--- Add in page specific JS  -->

<% content_for :js do %>
<script>
      var myParaxify = paraxify('.img-contain', {
      speed: 0,
      boost: 1
  });
</script>
<% end %>
