<% title 'About' %>
<% description 'For over 100 years, EHE has been the leader in healthcare and wellbeing. We are pioneers in employee health and lifestyle management and are devoted to emp' %>
<% keywords 'EHE, About' %>
 <div class="page-header">
    <div class='row'>
      <div class='small-12'>
        <h1 class='title-heading text-center'>OUR STORY</h1>
      </div>
     </div>
        <div class='row'>
          <div class='small-12 large-6 column'>
                <p>EHE was founded in 1913 as the first medical center devoted to healthy individuals, with the mission to equip patients with lifestyle management tools to live their healthiest lives. Our pioneering approach immediately won acclaim and for decades, EHE has had the privilege of serving some of America's biggest companies, making them healthier and higher performing.</p>
          </div>
          <div class='small-12 large-6 column'>
              <p>EHE's experience is matched only by our continuing innovation. We are committed to providing the very best in prevention and wellness, made possible by advancing technology and a uniquely personalized approach to each and every patient.</p>
              <p>After more than a century of excellence, our story is only starting.</p>
          </div>
        </div>
    </div>
    <!-- START meet our commanders in wellness -->
    <div class="expanded row meet-commanders img-contain paraxify">
  <div class="color-overlay"> </div>
   <div class="small-12">
   <div class="row expanded">
     <div class="small-12 large-5 large-offset-7 columns text-center">
        <div class="content-contain">
           <h3 class="white-text">Meet Our Commanders in Wellness</h3>
            <a href="#" class="cta round-button button-white ProximaNova-Medium" data-container="meet-commanders" >LEARN MORE</a>
        </div>
     </div>
   </div>
   </div>
</div>



    <!-- END meet our commanders in wellness -->

    <!-- START Our Story -->
    <div class='row'>
        <div class='small-12 large-8 large-centered columns text-center'>
             <div class="content-contain">
              <h3 class="drkr-gray-text">Vision and Values</h3>
              <p>With over 100 years of experience, we have a new vision for your health.<br>We see enhanced prevention and personalized care as the key to your sustained wellness. By understanding the totality of your health like never before, we ensure you have the tools and guidance to transform your health.</p>
            </div>
        </div>
    </div>
    <!-- END Our Story -->
    <!-- START See Locations Nationwide -->
      <div class="row expanded locations">
          <div class="columns text-center white-text">
              <h3 class="white-text">Locations Nationwide</h3>
              <a href="#" class="round-button button-white ProximaNova-Bold">SEE MORE</a>
          </div>
      </div>
    <!-- END See Locations Nationwide -->

    <!-- latest carousel -->
<div class="latest-contain">
<div class="row">
  <div class="small-10 small-centered text-center">
    <h3 class="gray-text title-w-lines"><span>LATEST</span></h3>
  </div>
</div>
<div class="expanded row">
  <div class="small-12">
    <div class="latest-container">
      <div>
        <p class="white-text">These Are the Best Stress Relief Toys and Tools</p>
        <img src="images/latest/latest-1.jpg">
      </div>
      <div>
        <p class="white-text">Learn How to Make Gluten-Free Banana Bread</p>
        <img src="images/latest/latest-2.jpg"></div>
      <div>
        <p class="white-text">Flu Symptoms You Need to Know</p>
        <img src="images/latest/latest-3.jpg">
      </div>
      <div>
        <p class="white-text">These Are the Best Stress Relief Toys and Tools</p>
        <img src="images/latest/latest-4.jpg">
      </div>
      <div>
        <p class="white-text">Learn How to Make Gluten-Free Banana Bread</p>
        <img src="images/latest/latest-5.jpg">
      </div>
      <div>
        <p class="white-text">Flu Symptoms You Need to Know</p>
        <img src="images/latest/latest-6.jpg">
      </div>
    </div>
  </div>
</div>
<div class="row">
   <div class="small-12 text-center">
    <div class="content-contain bot-space-75">
        <a href="#" class="round-button button-gray ProximaNova-Medium">SEE MORE</a>
    </div>
   </div>
</div>
</div>
<!-- end latest carousel-->
