<% title 'Careers' %>
<% description 'For over 100 years, EHE has been the leader in healthcare and wellbeing. We are pioneers in employee health and lifestyle management and are devoted to emp' %>
<% keywords 'EHE, Careers' %>
<div class='row page-header'>
            <div class='small-12 column'>
                <h1 class='title-heading text-center'>JOIN OUR TEAM</h1>
            </div>
        </div>

       
        <div class='row'>
        <!-- left column -->
                <div class='small-12 large-7 column'>
            <!-- job listings -->
                            <p>EHE has led the way in preventive health and wellness for more than 100 years thanks to medical professionals and staff whose expertise is second to none.</p>
                            <p>If you’re looking for a gratifying career offering a competitive salary, generous benefits package, and the chance to be at the forefront of health care, we encourage you to apply for one of our open positions.</p>
                            <script type="text/javascript" src="//app.jazz.co/widgets/basic/create/ehe" charset="utf-8"></script>
            <!-- End job listings -->
            </div>
        <!-- end left column -->
           
            <div class='small-12 large-4 large-offset-1 column'>
                <!-- right column -->
                    <div class='small-12'>
                            <div class="row" id="video-container">
                                <div class='small-12'>
                                    <img src="../assets/positions-video-placeholder.jpg" alt=""> 
                                </div> 
                            </div> 
                            <div class="row">  
                                <div class='small-12'> 
                                    <blockquote class="block-quote-primary-color">
                                            EHE is an incredible place to work. We make a real difference in people's lives, and it's beyond rewarding to know you have a role in making that happen.
                                        <cite>
                                            Deana
                                        </cite>
                                    </blockquote>
                                </div>
                                <div class='small-12'> 
                                    <blockquote class="block-quote-primary-color">
                                            I love working here. Everyone feels like they're part of something innovative and exciting. It's a challenge in the best sense.
                                        <cite>
                                           Eric
                                        </cite>
                                    </blockquote>
                                </div>
                                <div class='small-12'> 
                                    <blockquote class="block-quote-primary-color">
                                            There's a culture of cooperation and collaboration at EHE I haven't seen in other places. It's a team of really talented people all pulling together.
                                        <cite>
                                            Daniel
                                        </cite>
                                    </blockquote>
                                </div>
                                

                            </div>
                        </div>         
                <!-- end right column -->
                    </div>

     </div>

