<% title 'Careers' %>
<% description 'For over 100 years, EHE has been the leader in healthcare and wellbeing. We are pioneers in employee health and lifestyle management and are devoted to emp' %>
<% keywords 'EHE, Careers' %>
<div class='row page-header'>
            <div class='small-12 column'>
                <h1 class='title-heading text-center'>JOIN OUR TEAM</h1>
            </div>
        </div>

       
        <div class='row'>
        <!-- left column -->
                <div class='small-12 large-7 column'>
            <!-- job listings -->
                            <p>EHE has led the way in preventive health and wellness for more than 100 years thanks to medical professionals and staffers whose expertise is second to none.</p>
                            <p>If you’re looking for a challenging, rewarding career offering a competitive salary, generous benefits package, and the chance to be at the forefront of health care, we encourage you to apply for one of our open positions.</p>
                            <script type="text/javascript" src="//app.jazz.co/widgets/basic/create/ehe" charset="utf-8"></script>
            <!-- End job listings -->
            </div>
        <!-- end left column -->
           
            <div class='small-12 large-4 large-offset-1 column'>
                <!-- right column -->
                    <div class='small-12'>
                            <div class="row" id="video-container">
                                <div class='small-12'>
                                    <img src="../assets/positions-video-placeholder.jpg" alt=""> 
                                </div> 
                            </div> 
                            <div class="row">  
                                <div class='small-12'> 
                                    <blockquote class="block-quote-primary-color">
                                            Excepteur sint occaecat cupidatat non proident.
                                        <cite>
                                            John Joe
                                        </cite>
                                    </blockquote>
                                </div>
                                <div class='small-12'> 
                                    <blockquote class="block-quote-primary-color">
                                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accu dolore laudantium.
                                        <cite>
                                            Jane Joe
                                        </cite>
                                    </blockquote>
                                </div>
                                <div class='small-12'> 
                                    <blockquote class="block-quote-primary-color">
                                            Excepteur sint occaecat cupidatat non proident.
                                        <cite>
                                            John Joe
                                        </cite>
                                    </blockquote>
                                </div>
                                

                            </div>
                        </div>         
                <!-- end right column -->
                    </div>

     </div>

