<% title 'Commanders In Wellbeing' %>
<% description 'For over 100 years, EHE has been the leader in healthcare and wellbeing. We are pioneers in employee health and lifestyle management and are devoted to emp' %>
<% keywords 'EHE, Coaches, Physicians' %>

<div class="page-header">
  <div class='row'>
      <div class='small-12 column'>
        <h1 class='title-heading'>Commanders in wellbeing</h1>
      </div>
     </div>
      <div class='row'>
      	<div class='small-12 column'>
            The physicians and health mentors on our team provide unparalleled care. Their singular focus is making sure you have everything you need to live healthier, every day. 
        </div>
      	<!--
        <div class='small-12 large-6 column'>
              <p>Our leadership team represents the cutting edge of holistic preventive care. They have created a one-of-a-kind program for patient wellness, building on EHE’s 100-year track record of pioneering industry excellence.</p>
        </div>
        <div class='small-12 large-6 column'>
            <p>Under their guidance, EHE has further distinguished itself as the most innovative and effective preventive healthcare company.</p>
        </div>
        -->
      </div>
  </div>


    <!--<div class="columns large-12 medium-12">-->
        <ul class="tabs full-width commanders-in-wellness" data-tabs id="article-tabs">
            <li class="tabs-title is-active"><a href="#physician-articles" aria-selected="true" class="text-right"><span class="tabs-title-text ProximaNova-Bold">Physicians</span></a></li>
            <li class="tabs-title right-tab"><a href="#wellness-coach-articles" class="text-left"><span class="tabs-title-text ProximaNova-Bold">Health Mentors</span></a></li>
        </ul>

    <!--</div>-->
    <div class="tabs-content" data-tabs-content="article-tabs">
      <div class="tabs-panel is-active" id="physician-articles">
          
           <!-- New accordion content -->
			<div class="row">
				<div class="small-12 columns">
					<ul class="custom-accordion accordion" data-accordion data-allow-all-closed="true">
						<li class="accordion-item" accordion-title data-accordion-item>
							<a href="#" class="accordion-title font-bold accordionBtn">Dr. Maria Chee</a>
							<div class="accordion-content" data-tab-content >
								<p>Dr. Maria Chee values the time she spends with her patients and always tries to find out what is most important to them, what motivates them, and how she can help them to get where they want to be. Dr. Chee is board certified in Internal Medicine.</p>
								<p>She received her medical degree at The University of Texas Medical Branch at Galveston, where she also completed her residency. In her free time, she enjoys cycling, cooking Chinese dishes, and spending time with her two sons.</p>
							</div>
						</li>
						<li class="accordion-item" accordion-title data-accordion-item>
							<a href="#" class="accordion-title font-bold accordionBtn">Dr. Fatima Hussain</a>
							<div class="accordion-content" data-tab-content >
								<p>Dr. Fatima Hussain received her medical degree from Medical University of the Americas in St. Kitts and Nevis and completed her family medicine training at New York Medical College. She is board certified in Family Medicine and has been in practice for over five years.</p>
								<p>Dr. Hussain is passionate about empowering her patients with the necessary tools to better understand the pathology of a disease, helping to improve their overall health. She was a recipient for the Family Medicine Award for Scholarship at St. Joseph’s Hospital in Yonkers, NY for her work on the "The Effects of Audiovisual Communication in the Primary Care Setting." She is attentive to details, an advocate for preventive medicine and overall wellness, and is able to connect with her patients to positively affect their health outcomes.</p>
							</div>
						</li>
						<li class="accordion-item" accordion-title data-accordion-item>
							<a href="#" class="accordion-title font-bold accordionBtn">Dr. Frederica Linick</a>
							<div class="accordion-content" data-tab-content >
								<p>Dr. Frederica Linick’s goal is to provide expertise and guidance in helping patients become healthier and maintain that health for as long as possible. For her, while the science of medicine is fascinating, the best part of being a doctor is the privilege of participating in such a personal part of a patient's life.</p>
								<p>She graduated from the New York University School of Medicine and is board certified in Internal Medicine. Dr. Linick exercises regularly; she considers positive lifestyle habits a cornerstone of good overall health, and one patients can most directly control. She alose believes in regular age-appropriate medical check-ups.</p>
							</div>
						</li>
						<li class="accordion-item" accordion-title data-accordion-item>
							<a href="#" class="accordion-title font-bold accordionBtn">Dr. Gabriella Trotta-Barni</a>
							<div class="accordion-content" data-tab-content >
								<p>Dr. Gabriella Trotta-Barni tries to foster a relaxed, common sense, non-judgmental approach to preventive medicine, tailored to the individual patient. She believes the attainment of physical and mental wellness should not be a chore, but a composite of positive and pleasurable behaviors.</p>
								<p>She received her medical degree from the University of Siena (Italy), and completed her internal medicine residency at Robert Packer Hospital/Guthrie Clinic in Pennsylvania. She is board certified in Internal Medicine. Dr. Trotta-Barni is fluent in Italian. In her leisure time, she enjoys classical music and opera, museums, yoga, going to the gym, the study of foreign languages, and her book club.</p>
							</div>
						</li>
						<li class="accordion-item" accordion-title data-accordion-item>
							<a href="#" class="accordion-title font-bold accordionBtn">Dr. Maria A. DePina</a>
							<div class="accordion-content" data-tab-content >
								<p>Dr. Maria A. DePina has more than 18 years of experience in patient care. She has a strong interest in both preventive medicine and educating individuals and communities on its core tenets. She attended the University of Massachusetts for medical school and the University of Pittsburgh for internship and residency. Dr. DePina is board certified in Internal Medicine.</p>
							</div>
						</li>
						<li class="accordion-item" accordion-title data-accordion-item>
							<a href="#" class="accordion-title font-bold accordionBtn">Dr. Lubna Varcie-Zahir</a>
							<div class="accordion-content" data-tab-content >
								<p>Dr. Lubna Varcie-Zahir has practiced internal medicine in the Northern Virginia area for more than 20 years. She combines an evidence-based medical approach with empathetic bedside manner. Dr. Zahir believes that a holistic mind-body model encompassing mental, physical, nutritional, and spiritual health is the way forward in our hectic modern culture. She has worked in systems ranging from hospitals to occupational health, and also helps lead a non-profit medical relief organization that provides surgical, medical, and preventive care programs around the world.</p>
								<p>Dr. Zahir completed her training at the Grant Medical College, Mumbai and did her residency at St Vincent’s Catholic Medical Centers, NYC. She enjoys hiking along the Potomac river. On cold days, you will find her spinning or attempting the reformer, her newfound (but difficult) passion.</p>
							</div>
						</li>
						<li class="accordion-item" accordion-title data-accordion-item>
							<a href="#" class="accordion-title font-bold accordionBtn">Dr. Sausan Hilmi</a>
							<div class="accordion-content" data-tab-content >
								<p>Dr. Sausan Hilmi joined EHE in 2012 and has practiced internal medicine for 30 years. She is an “eternal student” with a lifelong passion for learning. Among her special interests are stress management, weight loss, and helping patients live a healthy sustainable lifestyle. Dr. Hilmi believes that lifestyle changes require mental change long before physical adjustments, and she works to ensure patients have the right mindset to become the best versions of themselves. She says self-care is your best investment in life.</p>
								<p>She received her medical training at Rutgers University’s Robert Wood Johnson School of Medicine. She is board certified in Internal Medicine. A mom of two young children, Dr. Hilmi enjoys cooking, Zumba, reading, and travel. She is trilingual; in addition to English, she speaks Spanish and Arabic.</p>
							</div>
						</li>
						<li class="accordion-item" accordion-title data-accordion-item>
							<a href="#" class="accordion-title font-bold accordionBtn">Dr. Allan Phuah</a>
							<div class="accordion-content" data-tab-content >
								<p>Dr. Allan Phuah is board certified in Internal Medicine and approaches care with flexibility, empathy, and the purpose of addressing all of the patient’s needs. He is passionate about counseling patients on the importance and nuances of maintaining a healthy lifestyle.</p>
								<p>He is a devoted advocate of preventive medicine who emphasizes the benefits of a balanced diet, physical fitness, proper sleep, and reduced stress. Dr. Phuah believes this approach can delay the onset of chronic disease and help the patient’s vitality. He completed his medical school and internal medicine residency at the University of Texas Medical Branch at Galveston. He is fluent in English, several dialects of Chinese, and Malay. In his free time, he enjoys spending time with his family, exercise, and travel, which he believes facilitates his treatment of both national and international patients.</p>
							</div>
						</li>
						<li class="accordion-item" accordion-title data-accordion-item>
							<a href="#" class="accordion-title font-bold accordionBtn">Dr. Seema Sarin</a>
							<div class="accordion-content" data-tab-content >
									<p>Dr. Seema Sarin is a board certified Internal Medicine physician. She obtained dual degrees in Biology and Psychology with Honors at the George Washington University and completed her medical school education at the George Washington University School of Medicine and Health Sciences in Washington, D.C. She then trained at the Johns Hopkins Bayview Medical Center in Baltimore, Maryland, where she completed her Internal Medicine residency.</p>
									<p>Dr. Sarin is an accomplished physician, with a focus on evidence-based lifestyle medicine and the prevention of chronic disease. She is passionate about supporting her patients to lead healthier, happier, and more productive lives. She is a member of the American College of Preventive Medicine. Dr. Sarin lives in Virginia, where she enjoys hiking, dancing, and spending time with her family.</p>
							</div>
						</li>
						<li class="accordion-item" accordion-title data-accordion-item>
							<a href="#" class="accordion-title font-bold accordionBtn">Dr. Saeed Taheri</a>
							<div class="accordion-content" data-tab-content >
									<p>Dr. Saeed Taheri is a board-certified Internal Medicine physician with a strong interest in prevention. He is passionate about collaborating with his patients to keep them healthy and happy through an evidence-based medical approach that takes into account their values and perspectives. Dr. Taheri motivates and empowers his patients to play an active role in their health including through optimizing their diet, sleep, physical activity, mental activity, self-awareness, and social support system, which he believes are all essential for maintaining health.</p>
									<p>He received his medical degree from Harvard University before training in internal medicine at Rush University Medical Center in Chicago. Dr. Taheri is passionate about research for the advancement of medicine and patient care. He has had the privilege of taking care of patients from all walks of life from across the U.S. and the world. Dr. Taheri lives in Northern Virginia, where he enjoys jogging, kayaking, swimming, hiking, tennis, yoga, and reading for pleasure. He enjoys learning new languages; in addition to English, he speaks Farsi and Spanish.</p>                                                
							</div>
						</li>
						<li class="accordion-item" accordion-title data-accordion-item>
							<a href="#" class="accordion-title font-bold accordionBtn">Dr. Cara Pensabene</a>
							<div class="accordion-content" data-tab-content >
									<p>Dr. Cara Pensabene joined EHE in 2015 after working in primary care and hospital medicine for several years. She is dedicated to helping her patients live longer, healthier, and happier lives by providing the highest-quality, evidence-based preventive care. Her special interests include dermatology and telemedicine. Dr. Pensabene graduated from Stony Brook University Medical School, where she also completed her residency training in Internal Medicine and was chosen for an NIH research fellowship.</p>
									<p>She is a member of the American College of Preventive Medicine and International Society of Travel Medicine, in addition to volunteering with the Westchester County and New York City Medical Reserve Corps. In her free time, Dr. Pensabene enjoys yoga, swimming, hiking, and traveling.</p>
							</div>
						</li>
						<li class="accordion-item" accordion-title data-accordion-item>
							<a href="#" class="accordion-title font-bold accordionBtn">Dr. Lorie Reder</a>
							<div class="accordion-content" data-tab-content >
									<p>Dr. Lorie Reder has more than 20 years of experience in patient care, during which she has used a personal, preventive approach to help individuals change the quality of their lives. She’s a believer in the power of making targeted changes to daily routine to improve health outcomes. By working closely with patients and emphasizing the positive, Dr. Reder feels that physicians can help them reach their best health. She says working at EHE has allowed her to spend more time with patients, devising personalized health recommendations.</p>
									<p>Dr. Reder attended Georgetown University School of Medicine and completed her residency at St. Vincent’s Hospital and Medical Center in New York. She is board certified in Internal Medicine. Outside of work, she enjoys spending time with her family, traveling, playing golf, and staying fit by running, practicing yoga, and swimming. She has competed in several marathons and century bike rides.</p>
							</div>
						</li>
						<li class="accordion-item" accordion-title data-accordion-item>
							<a href="#" class="accordion-title font-bold accordionBtn">Dr. Martha Aiello</a>
							<div class="accordion-content" data-tab-content >
									<p>Dr. Martha Aiello has more than 15 years of experience delivering preventive health care at EHE. She believes a focus on prevention is far more effective than the “putting out fires” approach that characterizes much of primary care. Dr. Aiello is particularly interested in helping her patients recognize the mind-body connection, and the importance of ensuring a healthy work-life balance.</p>
									<p>She received her medical training at the University of Pennsylvania School of Medicine and the New York Hospital Weill Cornell Medical Center and is board certified in Internal Medicine. Dr. Aiello is fluent in Spanish and has working knowledge of French. In her free time, she’s an avid exerciser, paints oil landscapes, and enjoys playing classical music with her husband and two children.</p>
							</div>
						</li>
						<li class="accordion-item" accordion-title data-accordion-item>
							<a href="#" class="accordion-title font-bold accordionBtn">Dr. Kecia Leigh</a>
							<div class="accordion-content" data-tab-content >
									<p>Dr. Kecia Leigh joined EHE in 2008. She has special interests in preventive medicine, obesity, hypertension, cholesterol, and diabetes. She enjoys the opportunity to spend time encouraging her patients to take ownership of their health and advising them on ways to better improve their current health status.</p>
									<p>Dr. Leigh was born in Jamaica and raised in Houston. She graduated from the University of Texas Medical School in Houston and completed her residency in Family Medicine at Memorial Family Practice Residency Training Program, also in Houston. She is board certified in Family Medicine. In her spare time, Dr. Leigh enjoys her morning exercise at Orangetheory Fitness, traveling, and spending time with her family.</p>
							</div>
						</li>
						<li class="accordion-item" accordion-title data-accordion-item>
							<a href="#" class="accordion-title font-bold accordionBtn">Dr. Frank Denbow</a>
							<div class="accordion-content" data-tab-content >
									<p>Dr. Frank Denbow has been with EHE since 1999. He received his medical training at Queens University in Northern Ireland. During his wide-ranging career, he has worked at hospitals in Ireland, Jamaica, and London. In his spare time, Dr. Denbow is devoted to the Guyana-Jamaica Friendship Association, a group he founded in 2014 with the mission of improving health and education in underserved parts of Guyana and Jamaica.</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
            <!-- RAILS CODE COMMENTED OUT TO HARDCODE IN SOME DRs
			< %= render :partial => 'commanders/commander', :collection => @physicians, :as => :commander %>
			-->
   
			<!-- RAILS CODE COMMENTED OUT TO HARDCODE IN SOME DRs
			  < %= render :partial => 'commanders/about', :collection => @physicians, :as => :commander %>
	  
			<div class="load-more-container">
			  < %= image_tag "ajax-loader.gif", style: "display:none;", class: "loading-gif" %>
			  < %= link_to "Load More", commanders_path, class: "load-more" %>
			</div>
			-->
      </div>
    </div>

    <div class="tabs-content" data-tabs-content="article-tabs">
      <div class="tabs-panel" id="wellness-coach-articles">
        <!-- New accordion content -->
		<div class="row">
			<div class="small-12">
				<ul class="custom-accordion accordion" data-accordion data-allow-all-closed="true">
					<li class="accordion-item" accordion-title data-accordion-item>
						<a href="#" class="accordion-title font-bold accordionBtn">Ana Escudero, MA, CHES</a>
						<div class="accordion-content" data-tab-content >
								<p>Ana Escudero is a Certified Health Education Specialist (CHES) with more than a decade of healthcare experience, including roles in the nonprofit, hospital, community health, and corporate wellness fields. She joined EHE in 2010 and serves as Senior Personal Health Coach. She’s passionate about empowering people to improve their lives with the right holistic tools and wellness counseling. Her areas of expertise include stress management, health psychology, and nutrition.</p>
								<p>Ana received her Bachelor of Science in Psychology from Rutgers University and Master in Health Education from Columbia University. She also holds a Certificate in Lifestyle Medicine for Stress Management. She is bilingual in English and Spanish. In her free time, Ana is an avid adventure traveler and nature lover who has trekked through jungles, caves, and forests on five continents.</p>
						</div>
					</li>
					<li class="accordion-item" accordion-title data-accordion-item>
						<a href="#" class="accordion-title font-bold accordionBtn">Gayle Salomon, MS, RD, CDE, CDN</a>
						<div class="accordion-content" data-tab-content >
								<p>Gayle Salomon is a Registered Dietitian Nutritionist (RD), Certified Diabetes Educator (CDE), and Certified Dietitian Nutritionist (CDN) with more than a decade of experience in nutritional guidance. She specializes in prediabetes, diabetes, healthy eating, obesity, weight management, and medical nutrition therapy. Gayle joined EHE in 2013 as a health coach and nutrition specialist.</p>
								<p>Her approach to nutrition is all about finding what works for the individual. Gayle’s a “foodie” who values delicious meals that are also healthy. Her aim is to use sound nutrition and personalized attention to make a positive difference in line with each patient’s needs and goals.</p>
								<p>She received her Bachelor of Science in Nutrition and Dietetics from Boston University. She completed both her Dietetic Internship and Master of Science in Nutrition Sciences at Queens College. In her spare time, Gayle loves to travel and spend time with her dog.</p>
						</div>
					</li>
					<li class="accordion-item" accordion-title data-accordion-item>
						<a href="#" class="accordion-title font-bold accordionBtn">Shereé Chambers</a>
						<div class="accordion-content" data-tab-content >
								<p>Shereé Chambers has been with EHE since 2007 and serves as a Personal Health Coach. She has wide-ranging experience working with a diverse patient population, helping individuals identify and achieve their goals.</p>
								<p>With expertise in nutrition, physical activity, and stress management, Shereé gives patients the inspiring, personalized guidance they need to sustain a healthy lifestyle. She also starred in the popular "Everyday Shereé!" video series, counseling EHE patients on a range of health and wellness topics.</p>
								<p>Sheree earned her Bachelor of Science in Health and Nutrition Sciences. She’s also a licensed massage therapist in New York State. She lives in Brooklyn with her (construction worker) husband and (pastry chef) daughter, who are her most challenging "clients!</p>
						</div>
					</li>
					<li class="accordion-item" accordion-title data-accordion-item>
						<a href="#" class="accordion-title font-bold accordionBtn">Atheer Yacoub, MS, RD, CDN</a>
						<div class="accordion-content" data-tab-content >
								<p>Atheer Yacoub is a Registered Dietitian who has experience counseling diverse populations in the areas of weight management, diabetes, cardiac diseases, and medical nutrition therapy. She completed her clinical training at New York-Presbyterian Hospital and is also certified by the Commission on Dietetic Registration in Adult Weight Management (Level I).</p>
								<p>Prior to EHE, Atheer worked as a Research Dietitian at Columbia University, where she obtained her Master’s degree in Nutrition Education. While working at Columbia, Atheer was at the forefront of cutting-edge nutrition research, which helped lay the foundation for the latest evidence-based nutrition practices. Atheer further applied her research and writing experience by publishing chapters in various nutrition textbooks. Aside from nutrition, Atheer's passions include comedy, travel, and exploring new restaurants.</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
           
            <!-- RAILS CODE COMMENTED OUT TO HARDCODE IN SOME Coaches
            < %= render :partial => 'commanders/commander', :collection => @coaches, :as => :commander %>
            -->
    
        	<!-- RAILS CODE COMMENTED OUT TO HARDCODE IN SOME DRs
        	< %= render :partial => 'commanders/about', :collection => @coaches, :as => :commander %>
        	-->
      </div>
    </div>

<% content_for :js do %>
  <script>
    // Call Gridder
        $('.gridder').gridderExpander({
            scroll: true,
            scrollOffset: 200,
            scrollTo: "panel", // panel or listitem
            animationSpeed: 150,
            animationEasing: "easeInOutExpo",
            showNav: true, // Show Navigation
            nextText: "", // Next button text
            prevText: "", // Previous button text
            closeText: "", // Close button text
            onStart: function () {
                //Gridder Inititialized
                console.log('On Gridder Initialized...');
            },
            onContent: function () {
                //Gridder Content Loaded
                console.log('On Gridder Expand...', this);
            },
            onClosed: function () {
                //Gridder Closed
                console.log('On Gridder Closed...');
            }
        });



    document.addEventListener("DOMContentLoaded", function(event) {
      $('a.load-more').click(function (e) {
        e.preventDefault();
        $('.load-more').hide();
        $('.loading-gif').show();
        var last_id = $('.record').last().attr('data-id');

        $.ajax({
            type: "GET",
            url: $(this).attr('href'),
            data: {
                id: last_id
            },
            dataType: "script",
            success: function () {
                $('.loading-gif').hide();
                $('.load-more').show();
            }
        });
      });
    });
  </script>
<% end %>
