<% title 'Corporate Partnership' %>
<% description 'For over 100 years, EHE has been the leader in healthcare and wellbeing. We are pioneers in employee health and lifestyle management and are devoted to emp' %>
<% keywords 'EHE, Corporate Partnership' %>
<div>
  <h1>CORPORATE PARTNERSHIP</h1>
  <p>When employees are at their healthiest, your business thrives, EHE produces incredible results for companies of every industry and size, and the scope of what we provide is growing.</p>
  <p>We offer experience and innovation no one else in the health and wellness space can match. Our clinics and physicians network serve big cities and small towns across the country, giving your employeees convenient access to the most effective care, not matter where they are.</p>
</div>

<div>
  <h1>I would like to become a Corporate Partner</h1>
  <%= render :partial => 'messages/form', :locals => {:message => Message.new} %>
</div>
