<% title 'FAQ' %>
<% description 'For over 100 years, EHE has been the leader in healthcare and wellbeing. We are pioneers in employee health and lifestyle management and are devoted to emp' %>
<% keywords 'EHE, FAQ' %>
  <div class='row page-header'>
        <div class='small-12 columns'>
            <h1 class='title-heading'>Frequently Asked Questions</h1>
        </div>
    </div>

    <!-- accordian -->
    <div class="row">
            <div class="small-12 columns">
                <ul class="custom-accordion accordion" data-accordion data-allow-all-closed="true">
                    <li class="accordion-item" accordion-title data-accordion-item>
                        <a href="#" class="accordion-title faqs-accordion-section font-bold accordionBtn">Is this insurance?</a>
                        <div class="accordion-content" data-tab-content >
                            <p>EHE is a preventive health care benefit distinct from your medical insurance. You'll still receive everything you currently get from your insurer, but your care is enhanced by the preventive care services EHE provides.</p>
                        </div>
                    </li>
                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title faqs-accordion-section font-bold accordionBtn">What if I already like my doctor?</a>
                        <div class="accordion-content" data-tab-content>
                            <p>You can absolutely keep your doctor. EHE's physicians are here to cover your preventive care needs, but they do <em>not</em> replace your primary care physician. With the health data and insights provided by your EHE physician, you and your primary care doctor can create a wellbeing plan that's best for you.</p>
                        </div>
                    </li>
                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title faqs-accordion-section font-bold accordionBtn">I don't live near an EHE clinic. What do I do?</a>
                        <div class="accordion-content" data-tab-content>
                            <p>You can visit one of our many EHE network physicians at hundreds of locations across the country. Each of our physicians follows strict EHE guidelines and delivers the same high-quality preventive care you'd receive at one of our clinics.</p>
                        </div>
                    </li>
                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title faqs-accordion-section font-bold accordionBtn">How do I schedule an exam?</a>
                        <div class="accordion-content" data-tab-content>
                            <p>Scheduling an exam is simple. If you have the EHE benefit from your employer, just <%= link_to 'click here', EHEANDME_HOME %> to set up a patient profile, and schedule your visit online.</p>
                        </div>
                    </li>
                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title faqs-accordion-section font-bold accordionBtn">Do I get to pick my doctor at EHE?</a>
                        <div class="accordion-content" data-tab-content>
                            <p>Every physician at EHE follows our patient-centric, customized preventive health care protocols to ensure you get consistent, excellent care across all our locations. While you won't choose your physician, each doctor makes sure you understand every part of your evaluation, as well as steps you can take to improve your long-term health outcomes.</p>
                        </div>
                    </li>
                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title faqs-accordion-section font-bold accordionBtn">Why are appointments longer than a typical physical?</a>
                        <div class="accordion-content" data-tab-content>
                            <p>While our appointments do require a longer-than-average exam time, our comprehensive health screening process is ultimately a time-saver &mdash; instead of scheduling multiple tests and evaluations with various physicians, at EHE you'll get all your screenings done at once, on the spot.</p>
                        </div>
                    </li>
                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title faqs-accordion-section font-bold accordionBtn">What procedures are included in the exam?</a>
                        <div class="accordion-content" data-tab-content>
                            <p>In addition to a full physical exam and detailed consultation with your EHE physician, you'll receive evaluations for physical fitness and function, nutrition, and mental health. Your visit may also include essential screenings such as those for breast, colon, lung, and cardiovascular health, as well as any additional age or risk associated tests you may need.</p>
                        </div>
                    </li>
                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title faqs-accordion-section font-bold accordionBtn">How do I get health mentoring?</a>
                        <div class="accordion-content" data-tab-content>
                            <p>Every EHE patient has access to health coaching, which is a core component of our commitment to the best possible outcomes for your lifelong health. When you schedule your comprehensive health exam, we'll discuss how a post-exam health mentor can help you reach your long-term wellbeing goals.</p>
                        </div>
                    </li> 
                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title faqs-accordion-section font-bold accordionBtn">Are my EHE results and records private?</a>
                        <div class="accordion-content" data-tab-content>
                            <p>All records from your exam are completely confidential and are never shared with your employer. You can access your medical record by logging into <%= link_to 'your EHE+Me account', EHEANDME_HOME %> or request a copy by emailing <a href="mailto:memberservices@eheintl.com">memberservices@eheintl.com</a></p>
                        </div>
                    </li>     
                </ul>
            </div>
        </div>

