<% title 'Work Healthy' %>
<% description 'EHE is a pioneer in employee health and lifestyle management. The team is devoted to empowering individuals to lead productive and positive lives.' %>
<% keywords 'EHE, Work Healthy' %>
<div id="video-container" class="flex-video widescreen">
    <!-- goes in video tag below  controls style="background-image: url(images/main-image-placeholder.jpg);">-->
	 <video autoplay="" loop="" muted class="home-video" > <!-- autoplay="" -->

	</video>
	<img src="images/main-image-placeholder.jpg" class="static-image" alt="">
    <div class="content-contain hero">
      <h1 class="white-text ProximaNova-Bold">The Science of Prevention Meets the Art of Living</h1>
      <!--<a href="#" class="white-text ProximaNova-Bold">Book Your Appointment <svg class="icon"><use xlink:href="#arrow-circle-white" /></svg></a> -->
    </div>
</div>
<div class="expanded row" data-equalizer data-equalize-on="medium">
  <div class="small-12 medium-6 large-6 columns drkblue text-center blue-section preventive-care">
      <div class="content-contain" data-equalizer-watch>
          <h3 class="white-text ProximaNova-Bold">Preventive Care</h3>
          <p class="white-text">Experience an exam that reimagines your daily life rather than just treating symptoms. You’ll emerge with a clear and complete picture of your health that you and your primary care physician will be able to use to help you reach new heights.</p>
          <a href="#" class="round-button button-white ProximaNova-Medium" data-container="blue-section">LEARN MORE</a>
      </div>
  </div>
  <div class="small-12 medium-6 large-6 columns drkrblue text-center blue-section yearround-wellness">
    <div class="content-contain" data-equalizer-watch>
      <h3 class="white-text ProximaNova-Bold">Year-Round Care</h3>
      <p class="white-text">Put the insights of your preventive care into action to live your healthiest life. Create new habits and build on existing ones throughout the year with the help of our Care Navigators and Health Mentors.</p>
      <div><a href="#" class="round-button button-white ProximaNova-Medium" data-container="blue-section">LEARN MORE</a></div>
    </div>
  </div>
</div>


     <div class="content-contain">

     <div class='row'>
        <div class='small-12 columns text-center'>
            <h3 class="gray-text">Partners in Your Health Journey</h3>
        </div>
     </div>
    <div class='row'>
        <div class='small-12 large-6 column'>
               <p>We help our patients discover how to move, sleep, eat, and think for better health. It's about connecting the dots, asking the questions that have never been asked and getting the answers you never knew you needed.</p>

        </div>
        <div class='small-12 large-6 column'>
               <p>At EHE, you'll have access to the deeper insights of preventive care paired with a holistic approach to effective wellness, all in one place so you can get more from your health care and your daily life.</p>
    <p>You can feel better every day. Let's begin.</p>
        </div>
      </div>
</div>
<!--
<div class="row">
  <div class="small-10 small-centered text-center white-section">
    <h3>Partners in Your Health Journey</h3>
    <p>For over a century, EHE has innovated new paths to living well.</p>
    <p>We help our patients discover how to move, sleep, eat, and think for better health. It's connecting the dots, asking the questions that have never been asked and getting the answers you never knew you needed.</p>
    <p>At EHE, you'll have access to the deeper insights of preventive care paired with a holistic approach to effective wellness, all in one place so you can get more from your health care and your daily life.</p>
    <p>You can feel better every day. Let's begin.</p>
  </div>
</div>
-->

<div class="expanded row coaches-section img-contain paraxify">
  <div class="color-overlay"> </div>
   <div class="small-12">
   <div class="row">
     <div class="small-12 medium-5 medium-offset-1 text-center medium-text-left columns">
         <h3 class="white-text ProximaNova-Bold">Coaches</h3>
         <p class="white-text ProximaNova-Medium">Our coaches work with you to achieve higher levels of body and mind performance.</p>
     </div>
     <div class="small-12 medium-6 medium-offset-0 columns text-center medium-text-left large-text-center">
        <div class="content-contain">
            <a href="#" class="cta round-button button-white ProximaNova-Medium" data-container="coaches-section" >LEARN MORE</a>
        </div>
     </div>
   </div>
   </div>
</div>

<!-- latest carousel -->
<div class="row">
  <div class="small-10 small-centered text-center">
    <h3 class="gray-text title-w-lines"><span>LATEST</span></h3>
  </div>
</div>
<div class="expanded row">
  <div class="small-12">
    <div class="latest-container">
      <% @posts.each do |post| %>
        <div>
          <p class="white-text"><%= post.title %></p>
          <%= link_to image_tag(post.main_image.url(:carousel)), post_path(post)  %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 text-center">
    <div class="bot-space-75">
      <%= link_to "SEE MORE", posts_path, :class => "round-button button-gray ProximaNova-Medium" %>
    </div>
  </div>
</div>
<!-- end latest carousel-->

<!--- Add in page specific JS  -->
<% content_for :js do %>

    <script>
        var myParaxify = paraxify('.img-contain', {
            speed: 0,
            boost: 1
        });

        getVideo();
    </script>

<% end %>

