<% title 'Work Healthy' %>
<% description 'EHE is a pioneer in employee health and lifestyle management. The team is devoted to empowering individuals to lead productive and positive lives.' %>
<% keywords 'EHE, Work Healthy' %>
<div>
  <h1>Partners in Your Health Journey</h1>
  <button>Book York Appointment</button>
</div>
<div>
  <div>
    <h3>Preventive Care</h3>
    <p>Get a one-of-a-kind comprehensive heath exam.</p>
    <button>LEARN MORE</button>
  </div>
  <div>
    <h3>Year-Round Wellness</h3>
    <p>Reach your goals with personalized care.</p>
    <button>LEARN MORE</button>
  </div>
</div>
<div>
  <h3>Experience and Innovation in Personalized Care</h3>
  <p>Since our founding in 1913. EHE has led the way in preventive care and creating new paths to wellness. Our approach has been transformative for generations of patients who have received the tools and guidance they need to live their healthiest lives.</p>
</div>
<div>
  <div>
    <h2>Coaches</h2>
    <p>Our coaches work with you to achieve higher levels of body and mind performance.</p>
  </div>
  <div>
    <button>LEARN MORE</button>
  </div>
</div>
<div>
  <h1>------  LATEST -------</h1>

  <button>SEE MORE</button>
</div>


