<% title 'Locations' %>
<% description 'For over 100 years, EHE has been the leader in healthcare and wellbeing. We are pioneers in employee health and lifestyle management and are devoted to emp' %>
<% keywords 'EHE, Locations' %>

    <!-- heading -->
<div class="page-header">
  <div class='row'>
      <div class='small-12'>
        <h1 class='title-heading text-center'>Locations</h1>
      </div>
     </div>
      <div class='row'>
       <div class='small-12 large-6 column'>
              <p>We have seven clinics around the country, as well as hundreds of affiliated doctors and locations in our expanded physicians network.</p>
        </div>
        <div class='small-12 large-6 column'>
            <p>See everywhere you can find us.</p>
        </div>
      </div>
  </div>      
      
    
    <div class='row bot-space-75'>
        <div class='small-12 medium-9 medium-push-3 large-9 large-push-3 column address-form-container'>
              <div class="row medium-collapse">
               <!-- <div class="address-form-container ">=-->
                <div class='small-8 columns'>
                        <div class="mapouter"><div class="gmap_canvas"><a href="https://www.crocothemes.net"></a><iframe width="600" height="750" id="gmap_canvas" src="https://maps.google.com/maps?q=10 Rockefeller Plaza New York, NY 10020&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div><style>.mapouter{overflow:hidden;height:750px;width:600px;}.gmap_canvas {background:none!important;height:750px;width:600px;}</style></div>
                </div>
                <div class='small-4 columns'>
                   <div class="row">
                   <div class='small-12 column'>
                    <form id="address-form" action="">
                        <div class="input-group">
                            <input class="input-group-field address-form-field" id="address-input" type="text" placeholder="city, state, or zip code">
                            <div class="input-group-button">
                                <button class="button-search" type="submit" value="Submit"><svg class="icon"><use xlink:href="#magnify-glass" /></svg><!--<img src="images/icon-magnifier.jpg" alt="Search">--></button>
                            </div>
                        </div>
                    </form>
                    </div>
                    </div>
                   <div class="row search-response">
                     <div class='small-12 column'>
                      <!-- start adress response area -->
                      <ul>
                        <li>
                            <h4 class="drkr-gray-text">State</h4>
                            <p>123 6th st.<br>
                                Melbourne, FL 32904
                            </p>
                            <p>email@email.com<br>
                                Phone 000.000.0000
                            </p>
                        </li>
                        <li>
                            <h4 class="drkr-gray-text">State</h4>
                            <p>123 6th st.<br>
                                Melbourne, FL 32904
                            </p>
                            <p>email@email.com<br>
                                Phone 000.000.0000
                            </p>
                        </li>
                        <li>
                            <h4 class="drkr-gray-text">State</h4>
                            <p>123 6th st.<br>
                                Melbourne, FL 32904
                            </p>
                            <p>email@email.com<br>
                                Phone 000.000.0000
                            </p>
                        </li>
                           <li>
                            <h4 class="drkr-gray-text">State</h4>
                            <p>123 6th st.<br>
                                Melbourne, FL 32904
                            </p>
                            <p>email@email.com<br>
                                Phone 000.000.0000
                            </p>
                        </li>
                      </ul>
                     </div>
                  </div>
                </div>
                </div>
               <!-- </div> -->
          </div>
                
                              <!-- locations column -->
        <div class='small-12 medium-3 medium-pull-9 large-3 large-pull-9 column corp-locations'>
            <!-- Corporate Office -->
            <div class="row">
               <div class='small-12 column bot-space-75'>
                        <h4 class="gray-text">Corporate Office</h4>
                        <p>123 6th st.<br>
                        Melbourne, FL 32904
                        </p>
                        <p>email@email.com<br>
                        Phone 000.000.0000
                        </p>
              </div>
            </div>
            <!-- End Corporate Office -->
             <!-- New York Clinic -->
            <div class="row">
                <div class='small-12 column bot-space-75'>
                    <h4 class="gray-text">New York Clinic</h4>
                    <p>123 6th st.<br>
                    Melbourne, FL 32904
                    </p>
                    <p>email@email.com<br>
                    Phone 000.000.0000
                    </p>
                </div>
            </div>
            <!-- End New York Clinic -->
        </div>
        <!-- end locations column -->
                
           <!--  </div> map component -->
        </div>