<% title 'Preventive Care' %>
<% description 'For over 100 years, EHE has been the leader in healthcare and wellbeing. We are pioneers in employee health and lifestyle management and are devoted to emp' %>
<% keywords 'EHE, Preventive Care' %>
<div class="page-header">
    <div class='row'>
      <div class='small-12'>
        <h1 class='title-heading text-center'>PREVENTIVE CARE</h1>
      </div>
     </div>
        <div class='row'>
          <div class='small-12 large-6 column'>
                <p>Enhanced preventive care puts our patients first. Your journey begins with a comprehensive evaluation of your physical, mental, and internal health from every angle, giving you unmatched insights into what you need to feel your best.</p>
          </div>
          <div class='small-12 large-6 column'>
              <p>Health is not one-size-fits-all, and neither is our care. Our personalized approach to performance ensures that you have a full range of traditional and validated non-traditional tools available to get results.</p>
          </div>
        </div>
    </div>
    
    
<!-- Tabs -->
<div class="row expanded">
    <div class='row'>
        <div class="small-12">
            <!-- 
                js $('[data-tabs]').eq(0).foundation('selectTab', $('#example')); //will change the first Tabs on the page to whatever panel you choose.
            -->
            <ul class="accordion" data-responsive-accordion-tabs="accordion medium-tabs large-tabs" data-multi-expand="true" id="article-tabs">
                <li class="tabs-title tabs-title-3-up is-active" data-accordion-item>
                    <a href="#prevention-article" aria-selected="true" class="text-right">
                        <div class="tabs-title-text custom-tabs-arrow font-bold">Prevention</div>
                    </a>
                </li>
                <li class="tabs-title tabs-title-3-up" data-accordion-item>
                    <a href="#performance-article" class="text-center">
                        <div class="tabs-title-text custom-tabs-arrow font-bold">Performance</div>
                    </a>
                </li>
                <li class="tabs-title tabs-title-3-up" data-accordion-item>
                    <a href="#mind-health-article" class="text-left">
                        <div class="tabs-title-text custom-tabs-arrow font-bold">Mind Health</div>
                    </a>
                </li>
  
                <!-- ... -->
            </ul>
        </div>
    </div>
<!-- end Tabs -->
    <div class="tabs-content" data-tabs-content="article-tabs">
    <!-- Prevention Tabs content -->
        <div class="row expanded">
            <div class="small-12">
                <div class="tabs-content" data-tabs-content="article-tabs">
                    <div class="tabs-panel is-active" id="prevention-article"><!-- tabs-panel prevention-article -->
                        <div class="row expanded">
                            <div class="small-12">
                                <div class="custom-article-group preventive-care">
                                    <div class="row expanded">
                                        <div class="large-6">
                                            <div class="custom-article-overlay prevention">
                                                <div class="row">
                                                    <div class="small-9 small-centered columns">
                                                        <p class="white-text ProximaNova-Medium">Prevention targets your personal circumstances and risks, giving you the tools to transform your health like never before.</p>
                                                    </div><!-- emd small 8 centered text -->
                                                </div><!-- end row -->
                                            </div><!-- emd custom art overlay performance -->
                                        </div><!-- emd larg 6 -->
                                    </div> <!-- end row -->
                                </div> <!-- end custom article group?? preventive care -->
                            </div><!-- small 12 close -->
                        </div><!-- row expanded close -->  

                        <!-- accordian -->
                        <!-- preventive-care-accordion-section -->
                        <!--
                        <section>
                        -->
                        <div class="row">
                            <div class="small-12">
                                <ul class="custom-accordion accordion" data-accordion data-allow-all-closed="true">
                                    <li class="accordion-item" accordion-title data-accordion-item>
                                        <a href="#" class="accordion-title preventive-accordion-section font-bold accordionBtn">preventive-care accordion 1</a>
                                        <div class="accordion-content" data-tab-content>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vestibulum dolor eu convallis finibus. Morbi lectus lorem, eleifend nec libero a, sollicitudin feugiat ante. Maecenas ac auctor elit. Vestibulum pharetra, nunc sit amet rhoncus consectetur, quam arcu euismod velit, ac sagittis eros ex sit amet metus. Maecenas elit elit, finibus ut nulla non, posuere dignissim orci. Nullam et ultricies tortor. Phasellus eu aliquet lorem, in tincidunt ex. Curabitur blandit dapibus varius.</p>
                                        </div>
                                    </li>
                                    <li class="accordion-item" data-accordion-item>
                                        <a href="#" class="accordion-title preventive-accordion-section font-bold accordionBtn">preventive-care accordion 2</a>
                                        <div class="accordion-content" data-tab-content>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vestibulum dolor eu convallis finibus. Morbi lectus lorem, eleifend nec libero a, sollicitudin feugiat ante. Maecenas ac auctor elit. Vestibulum pharetra, nunc sit amet rhoncus consectetur, quam arcu euismod velit, ac sagittis eros ex sit amet metus. Maecenas elit elit, finibus ut nulla non, posuere dignissim orci. Nullam et ultricies tortor. Phasellus eu aliquet lorem, in tincidunt ex. Curabitur blandit dapibus varius.</p>
                                        </div>
                                    </li>
                                    <li class="accordion-item" data-accordion-item>
                                        <a href="#" class="accordion-title preventive-accordion-section font-bold accordionBtn">preventive-care accordion 3</a>
                                        <div class="accordion-content" data-tab-content>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vestibulum dolor eu convallis finibus. Morbi lectus lorem, eleifend nec libero a, sollicitudin feugiat ante. Maecenas ac auctor elit. Vestibulum pharetra, nunc sit amet rhoncus consectetur, quam arcu euismod velit, ac sagittis eros ex sit amet metus. Maecenas elit elit, finibus ut nulla non, posuere dignissim orci. Nullam et ultricies tortor. Phasellus eu aliquet lorem, in tincidunt ex. Curabitur blandit dapibus varius.</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div><!-- tabs-panel prevention-article -->
                </div><!-- tabs content 3 end -->
            </div><!-- small 12 end -->
        </div><!-- end expanded row -->
    <!-- End Prevention Tabs content -->

    <!-- Performance Tabs content -->
        <div class="row expanded">
            <div class="small-12">
                <div class="tabs-content" data-tabs-content="article-tabs">
                    <div class="tabs-panel" id="performance-article"><!-- tabs-panel performance-article -->

                        <div class="row expanded">
                            <div class="small-12">
                                <div class="custom-article-group preventive-care">
                                    <div class="row expanded">
                                        <div class="large-6">
                                            <div class="custom-article-overlay performance">
                                                <div class="row">
                                                    <div class="small-9 small-centered columns">
                                                        <p class="white-text ProximaNova-Medium">Great health isn't just about living longer or avoiding illness. It's about performing at a high level and getting the most out of your daily life.</p>
                                                    </div><!-- emd small 8 centered text -->
                                                </div><!-- end row -->
                                            </div><!-- emd custom art overlay performance -->
                                        </div><!-- emd larg 6 -->
                                    </div> <!-- end row -->
                                </div> <!-- end custom article group?? preventive care -->
                            </div><!-- small 12 close -->
                        </div><!-- row expanded close -->  

                        <!-- accordian -->
                        <!-- performance-accordion-section -->
                        <!--
                        <section>
                        --> 
                        <div class="row">
                            <div class="small-12">
                                <ul class="custom-accordion accordion" data-accordion data-allow-all-closed="true">
                                    <li class="accordion-item" accordion-title data-accordion-item>
                                        <a href="#" class="accordion-title performance-accordion-section font-bold accordionBtn">performance accordion 1</a>
                                        <div class="accordion-content" data-tab-content >
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vestibulum dolor eu convallis finibus. Morbi lectus lorem, eleifend nec libero a, sollicitudin feugiat ante. Maecenas ac auctor elit. Vestibulum pharetra, nunc sit amet rhoncus consectetur, quam arcu euismod velit, ac sagittis eros ex sit amet metus. Maecenas elit elit, finibus ut nulla non, posuere dignissim orci. Nullam et ultricies tortor. Phasellus eu aliquet lorem, in tincidunt ex. Curabitur blandit dapibus varius.</p>
                                        </div>
                                    </li>
                                    <li class="accordion-item" data-accordion-item>
                                        <a href="#" class="accordion-title performance-accordion-section font-bold accordionBtn">performance accordion 2</a>
                                        <div class="accordion-content" data-tab-content>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vestibulum dolor eu convallis finibus. Morbi lectus lorem, eleifend nec libero a, sollicitudin feugiat ante. Maecenas ac auctor elit. Vestibulum pharetra, nunc sit amet rhoncus consectetur, quam arcu euismod velit, ac sagittis eros ex sit amet metus. Maecenas elit elit, finibus ut nulla non, posuere dignissim orci. Nullam et ultricies tortor. Phasellus eu aliquet lorem, in tincidunt ex. Curabitur blandit dapibus varius.</p>
                                        </div>
                                    </li>
                                    <li class="accordion-item" data-accordion-item>
                                        <a href="#" class="accordion-title performance-accordion-section font-bold accordionBtn">performance accordion 3</a>
                                        <div class="accordion-content" data-tab-content>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vestibulum dolor eu convallis finibus. Morbi lectus lorem, eleifend nec libero a, sollicitudin feugiat ante. Maecenas ac auctor elit. Vestibulum pharetra, nunc sit amet rhoncus consectetur, quam arcu euismod velit, ac sagittis eros ex sit amet metus. Maecenas elit elit, finibus ut nulla non, posuere dignissim orci. Nullam et ultricies tortor. Phasellus eu aliquet lorem, in tincidunt ex. Curabitur blandit dapibus varius.</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div><!-- tabs-panel performance-article -->
                </div><!-- tabs content 3 end -->
            </div><!-- small 12 end -->
        </div><!-- end expanded row -->
    <!-- End Performance Tabs content -->

    <!-- Mind health Tabs content -->
    <div class="row expanded">
            <div class="small-12">
                <div class="tabs-content" data-tabs-content="article-tabs">
                    <div class="tabs-panel" id="mind-health-article"><!-- tabs-panel mind-health-article -->

                        <div class="row expanded">
                            <div class="small-12">
                                <div class="custom-article-group preventive-care">
                                    <div class="row expanded">
                                        <div class="large-6">
                                            <div class="custom-article-overlay mind-health">
                                                <div class="row">
                                                    <div class="small-9 small-centered columns">
                                                        <p class="white-text ProximaNova-Medium">Your mental health impacts every aspect of your overall function, and we make sure you have the tools to achieve balance.</p>
                                                    </div><!-- emd small 8 centered text -->
                                                </div><!-- end row -->
                                            </div><!-- emd custom art overlay performance -->
                                        </div><!-- emd larg 6 -->
                                    </div> <!-- end row -->
                                </div> <!-- end custom article group?? preventive care -->
                            </div><!-- small 12 close -->
                        </div><!-- row expanded close -->  

                        <!-- accordian -->
                        <!-- mind-health-accordion-section -->
                        <!--
                        <section>
                        -->
                        <div class="row">
                            <div class="small-12">
                                <ul class="custom-accordion accordion" data-accordion data-allow-all-closed="true">
                                    <li class="accordion-item" accordion-title data-accordion-item>
                                        <a href="#" class="accordion-title mind-health-accordion-section font-bold accordionBtn">mind-health accordion 1</a>
                                        <div class="accordion-content" data-tab-content >
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vestibulum dolor eu convallis finibus. Morbi lectus lorem, eleifend nec libero a, sollicitudin feugiat ante. Maecenas ac auctor elit. Vestibulum pharetra, nunc sit amet rhoncus consectetur, quam arcu euismod velit, ac sagittis eros ex sit amet metus. Maecenas elit elit, finibus ut nulla non, posuere dignissim orci. Nullam et ultricies tortor. Phasellus eu aliquet lorem, in tincidunt ex. Curabitur blandit dapibus varius.</p>
                                        </div>
                                    </li>
                                    <li class="accordion-item" data-accordion-item>
                                        <a href="#" class="accordion-title mind-health-accordion-section font-bold accordionBtn">mind-health accordion 2</a>
                                        <div class="accordion-content" data-tab-content>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vestibulum dolor eu convallis finibus. Morbi lectus lorem, eleifend nec libero a, sollicitudin feugiat ante. Maecenas ac auctor elit. Vestibulum pharetra, nunc sit amet rhoncus consectetur, quam arcu euismod velit, ac sagittis eros ex sit amet metus. Maecenas elit elit, finibus ut nulla non, posuere dignissim orci. Nullam et ultricies tortor. Phasellus eu aliquet lorem, in tincidunt ex. Curabitur blandit dapibus varius.</p>
                                        </div>
                                    </li>
                                    <li class="accordion-item" data-accordion-item>
                                        <a href="#" class="accordion-title mind-health-accordion-section font-bold accordionBtn">mind-health accordion 3</a>
                                        <div class="accordion-content" data-tab-content>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vestibulum dolor eu convallis finibus. Morbi lectus lorem, eleifend nec libero a, sollicitudin feugiat ante. Maecenas ac auctor elit. Vestibulum pharetra, nunc sit amet rhoncus consectetur, quam arcu euismod velit, ac sagittis eros ex sit amet metus. Maecenas elit elit, finibus ut nulla non, posuere dignissim orci. Nullam et ultricies tortor. Phasellus eu aliquet lorem, in tincidunt ex. Curabitur blandit dapibus varius.</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div><!-- tabs-panel mind-health-article -->
                </div><!-- tabs content 3 end -->
            </div><!-- small 12 end -->
        </div><!-- end expanded row -->
    <!-- End Mind health Tabs content -->  
        </div>
    </div>

    
<!-- Book your appointment call to action -->
<div class="expanded row book-your-appointment img-contain paraxify">
  <div class="color-overlay"> </div>
   <div class="small-12">
   <div class="row">
     <div class="small-8 small-centered columns text-center">
          <div class="content-contain">
            <a href="#" class="cta ProximaNova-Medium white-text" data-container="book-your-appointment" >BOOK YOUR APPOINTMENT <svg class="icon circle-arrow"><use xlink:href="#arrow-circle-white" /></svg></a>
          </div>
     </div>
   </div>  
   </div>
</div>
    

<!--- Add in page specific JS  -->

<% content_for :js do %>
  <script>
      var myParaxify = paraxify('.img-contain', {
          speed: 0,
          boost: 1
      });
  </script>
<% end %>