<% title 'Preventive Care' %>
<% description 'For over 100 years, EHE has been the leader in healthcare and wellbeing. We are pioneers in employee health and lifestyle management and are devoted to emp' %>
<% keywords 'EHE, Preventive Care' %>
<div class="page-header">
    <div class='row'>
      <div class='small-12 column'>
        <h1 class='title-heading'>PREVENTIVE CARE</h1>
      </div>
     </div>
        <div class='row'>
          <div class='small-12 column'>
                <p>This is not a &ldquo;doctor's visit.&rdquo; It’s a fresh start. Your Comprehensive Health Exam gives you a clear and complete picture of your body, mind, habits, and performance. It opens a new kind of health experience, one that lets you see how parts of your life fit together so you can write a new beginning.</p>
          </div>

        </div>
    </div>
    
    
<!-- Tabs -->
<div class="row expanded">

    <div class='row hide-for-small-only'>
      <div class="small-12">
         <ul class="tabs white-background" data-tabs id="article-tabs">
         
         	<li class="tabs-title tabs-title-3-up is-active" role="presentation">
			  <a href="#prevention-article" aria-selected="true" class="text-right tabs-title-text custom-tabs-arrow font-bold" role="tab" aria-controls="prevention-article" id="prevention-article-label" tabindex="0">
			  EAT</a>
			</li>
			<li class="tabs-title tabs-title-3-up" role="presentation">
			  <a href="#performance-article" class="text-center tabs-title-text custom-tabs-arrow font-bold" role="tab" aria-controls="performance-article" aria-selected="false" id="performance-article-label" tabindex="-1">
			  MOVE</a>
			</li>
			<li class="tabs-title tabs-title-3-up" role="presentation">
			  <a href="#mind-health-article" class="text-left tabs-title-text custom-tabs-arrow font-bold" role="tab" aria-controls="mind-health-article" aria-selected="false" id="mind-health-article-label" tabindex="-1">
			  THINK</a>
			</li>
         </ul>
     </div>
   </div>
 
 <!-- end Tabs -->
 
 <!-- Prevention Tabs content -->
     <div class="row expanded">
         <div class="small-12">
             <div class="tabs-content" data-tabs-content="article-tabs">
                 <div class="tabs-panel is-active" id="prevention-article"><!-- tabs-panel prevention-article -->
                     <div class="tab-content-title text-center show-for-small-only prevention">EAT</div>
                     
                     <!--
                     <div class="tabs-title is-active">
                         <div class="tabs-title-text custom-tabs-arrow show-for-small-only font-bold">Prevention</div>
                     </div>
                     -->
                     <div class="row expanded">
                         <div class="small-12">
                             <div class="custom-article-group preventive-care prevention-bg">
                                 <div class="row expanded">
                                     <div class="large-6">
                                         <div class="custom-article-overlay prevention">
                                             <div class="row">
                                                 <div class="small-9 small-centered columns">
                                                     <p class="white-text ProximaNova-Medium">How you eat impacts every aspect of your health. The right nutritional insight allows you to create an approach to healthy eating that is enjoyable and sustainable. We feed your mind so you can fill your plate with food you love.</p>
                                                 </div><!-- emd small 8 centered text -->
                                             </div><!-- end row -->
                                         </div><!-- emd custom art overlay performance -->
                                     </div><!-- emd larg 6 -->
                                 </div> <!-- end row -->
                             </div> <!-- end custom article group?? preventive care -->
                         </div><!-- small 12 close -->
                     </div><!-- row expanded close -->  
 
                     <!-- accordian -->
                     <!-- preventive-care-accordion-section -->
                     <!--
                     <section>
                     -->
                     <div class="row">
                         <div class="small-12">
                             <ul class="custom-accordion accordion" data-accordion data-allow-all-closed="true">
                                 <li class="accordion-item" accordion-title data-accordion-item>
                                     <a href="#" class="accordion-title preventive-accordion-section font-bold accordionBtn">Nutritional Assessment</a>
                                     <div class="accordion-content" data-tab-content >
                                         <p>Dive into your diet and eating habits like never before. Get the actionable insight you need to eat well and feel great.</p>
                                     </div>
                                 </li>
                                 <li class="accordion-item" data-accordion-item>
                                     <a href="#" class="accordion-title preventive-accordion-section font-bold accordionBtn">Food Intolerances</a>
                                     <div class="accordion-content" data-tab-content>
                                         <p>Be screened for gluten sensitivity and other gastrointestinal health issues. See what to avoid and how to replace it.</p>
                                     </div>
                                 </li>
                                 <!--
                                 <li class="accordion-item" data-accordion-item>
                                     <a href="#" class="accordion-title preventive-accordion-section font-bold accordionBtn">preventive-care accordion 3</a>
                                     <div class="accordion-content" data-tab-content>
                                         <p>Three</p>
                                     </div>
                                 </li>
                                -->
                             </ul>
                         </div>
                     </div>
 
                 </div><!-- tabs-panel prevention-article -->
             </div><!-- tabs content 3 end -->
         </div><!-- small 12 end -->
     </div><!-- end expanded row -->
 <!-- End Prevention Tabs content -->
 
 <!-- Performance Tabs content -->
     <div class="row expanded">
         <div class="small-12">
             <div class="tabs-content" data-tabs-content="article-tabs">
                 <div class="tabs-panel" id="performance-article"><!-- tabs-panel performance-article -->
                     <div class="tab-content-title text-center show-for-small-only performance">MOVE</div>
                     <div class="row expanded">
                         <div class="small-12">
                             <div class="custom-article-group preventive-care performace-bg">
                                 <div class="row expanded">
                                     <div class="large-6">
                                         <div class="custom-article-overlay performance">
                                             <div class="row">
                                                 <div class="small-9 small-centered columns">
                                                     <p class="white-text ProximaNova-Medium">See your physical fitness in a whole new light. Our care identifies the specific ways in which you can move better than ever, with improved agility, strength, and balance.</p>
                                                 </div><!-- emd small 8 centered text -->
                                             </div><!-- end row -->
                                         </div><!-- emd custom art overlay performance -->
                                     </div><!-- emd larg 6 -->
                                 </div> <!-- end row -->
                             </div> <!-- end custom article group?? preventive care -->
                         </div><!-- small 12 close -->
                     </div><!-- row expanded close -->  
 
                     <!-- accordian -->
                     <!-- performance-accordion-section -->
                     <!--
                     <section>
                     --> 
                     <div class="row">
                         <div class="small-12">
                             <ul class="custom-accordion accordion" data-accordion data-allow-all-closed="true">
                                 <li class="accordion-item" accordion-title data-accordion-item>
                                     <a href="#" class="accordion-title performance-accordion-section font-bold accordionBtn">Functional Movement Screening</a>
                                     <div class="accordion-content" data-tab-content >
                                         <p>Our innovative technology shows you how your body behaves, yielding insight you can use whether you sit in a cubicle or stay active all day.</p>
                                     </div>
                                 </li>
                                 <li class="accordion-item" data-accordion-item>
                                     <a href="#" class="accordion-title performance-accordion-section font-bold accordionBtn">Body Composition</a>
                                     <div class="accordion-content" data-tab-content>
                                         <p>This nuanced evaluation goes way beyond weight, providing data that can help with everything from long-term disease prevention to daily performance.</p>
                                     </div>
                                 </li>
                                 <!--
                                 <li class="accordion-item" data-accordion-item>
                                     <a href="#" class="accordion-title performance-accordion-section font-bold accordionBtn">performance accordion 3</a>
                                     <div class="accordion-content" data-tab-content>
                                         <p>Three</p>
                                     </div>
                                 </li>
                                -->
                             </ul>
                         </div>
                     </div>
 
                 </div><!-- tabs-panel performance-article -->
             </div><!-- tabs content 3 end -->
         </div><!-- small 12 end -->
     </div><!-- end expanded row -->
 <!-- End Performance Tabs content -->
 
 <!-- Mind health Tabs content -->
    <div class="row expanded">
         <div class="small-12">
             <div class="tabs-content" data-tabs-content="article-tabs">
                 <div class="tabs-panel" id="mind-health-article"><!-- tabs-panel mind-health-article -->
                     <div class="tab-content-title text-center show-for-small-only mind-health">THINK</div>
                     <div class="row expanded">
                         <div class="small-12">
                             <div class="custom-article-group preventive-care longevity-bg">
                                 <div class="row expanded">
                                     <div class="large-6">
                                         <div class="custom-article-overlay mind-health">
                                             <div class="row">
                                                 <div class="small-9 small-centered columns">
                                                     <p class="white-text ProximaNova-Medium">Mind health is integral to everything else you do, and how you feel every day. When you find balance and focus, the other pieces of your life fall into place.</p>
                                                 </div><!-- emd small 8 centered text -->
                                             </div><!-- end row -->
                                         </div><!-- emd custom art overlay performance -->
                                     </div><!-- emd larg 6 -->
                                 </div> <!-- end row -->
                             </div> <!-- end custom article group?? preventive care -->
                         </div><!-- small 12 close -->
                     </div><!-- row expanded close -->  
 
                     <!-- accordian -->
                     <!-- mind-health-accordion-section -->
                     <!--
                     <section>
                     -->
                     <div class="row">
                         <div class="small-12">
                             <ul class="custom-accordion accordion" data-accordion data-allow-all-closed="true">
                                 <li class="accordion-item" accordion-title data-accordion-item>
                                     <a href="#" class="accordion-title mind-health-accordion-section font-bold accordionBtn">Sleep Assessment</a>
                                     <div class="accordion-content" data-tab-content >
                                         <p>To perform during the day, you need insight into your night. We make sure you have everything to be renewed by improved sleep.</p>
                                     </div>
                                 </li>
                                 <li class="accordion-item" data-accordion-item>
                                     <a href="#" class="accordion-title mind-health-accordion-section font-bold accordionBtn">Work-Life Balance</a>
                                     <div class="accordion-content" data-tab-content>
                                         <p>We help you avoid the pitfalls of an accelerated world in which our health and relationships are too often sacrificed. Stay balanced and stay well.</p>
                                     </div>
                                 </li>
                                 <!--
                                 <li class="accordion-item" data-accordion-item>
                                     <a href="#" class="accordion-title mind-health-accordion-section font-bold accordionBtn">mind-health accordion 3</a>
                                     <div class="accordion-content" data-tab-content>
                                         <p>Three</p>
                                     </div>
                                 </li>
                                -->
                             </ul>
                         </div>
                     </div>
 
                 </div><!-- tabs-panel mind-health-article -->
             </div><!-- tabs content 3 end -->
         </div><!-- small 12 end -->
     </div><!-- end expanded row -->
 <!-- End Mind health Tabs content -->  
    
    </div>

 
<!-- Book your appointment call to action -->
<div class="expanded row book-your-appointment img-contain paraxify">
  <div class="color-overlay"> </div>
   <div class="small-12">
   <div class="row">
     <div class="small-8 small-centered columns text-center">
          <div class="content-contain">
            <a href="#" class="cta ProximaNova-Medium white-text" data-container="book-your-appointment" >BOOK YOUR APPOINTMENT <svg class="icon circle-arrow"><use xlink:href="#arrow-circle-white" /></svg></a>
          </div>
     </div>
   </div>  
   </div>
</div>
    

<!--- Add in page specific JS  -->

<% content_for :js do %>
  <script>
      var myParaxify = paraxify('.img-contain', {
          speed: 0,
          boost: 1
      });
      var isBreakPoint = function (bp) {
            var bps = [0, 685, 1024, 1200, 1440],
                w = $(window).width(),
                min, max
            for (var i = 0, l = bps.length; i < l; i++) {
            if (bps[i] === bp) {
                min = bps[i-1] || 0
                max = bps[i]
                break
            }
            }
            return w > min && w <= max
        }

        $(window).on('changed.zf.mediaquery', function(event, newSize, oldSize) {
            // newSize is the name of the now-current breakpoint, oldSize is the previous breakpoint
            //alert("newSize: "+newSize);
            setTabsMediaQuery(event, newSize, oldSize);
        });

        $(window).on("load orientationchange", function(event, newSize, oldSize) {
            //doSomething();
            console.log('load, or orientationchange');
            //if (isBreakPoint(685)) { 
            /*
            if(Foundation.MediaQuery.current == "small"){
                newSize = "small";
            }
            */
            
            setTabsMediaQuery(event, Foundation.MediaQuery.current, oldSize);
        });

        function setTabsMediaQuery(event, newSize, oldSize){
            console.log('setTabsMediaQuery event:'+event);
            console.log('setTabsMediaQuery newSize:'+newSize);
            console.log('setTabsMediaQuery oldSize:'+oldSize);
            if( newSize == "small"){
                $( "#prevention-article" ).addClass( "is-active" );//add
                $( "#performance-article" ).addClass( "is-active" );//add
                $( "#mind-health-article" ).addClass( "is-active" );//add
                if( $("#tab-prevention-article").hasClass( "is-active" ) ){
                    $("html, body").animate({ scrollTop: $('#prevention-article').offset().top - (window.innerHeight/2) }, 0);
                }
                if( $("#tab-performance-article").hasClass( "is-active" ) ){
                    $("html, body").animate({ scrollTop: $('#performance-article').offset().top - (window.innerHeight/2) }, 0);
                }
                if( $("#tab-mind-health-article").hasClass( "is-active" ) ){
                    $("html, body").animate({ scrollTop: $('#mind-health-article').offset().top - (window.innerHeight/2) }, 0);
                }
                
            }else{
                if(oldSize=="small"){
                    $("html, body").animate({ scrollTop: $('#tab-prevention-article').offset().top - (window.innerHeight/2) }, 0);
                }
                
                if( $("#tab-prevention-article").hasClass( "is-active" ) ){
                    $( "#prevention-article" ).addClass( "is-active" );//add
                    $( "#performance-article" ).removeClass( "is-active" );
                    $( "#mind-health-article" ).removeClass( "is-active" );
                }
                if( $("#tab-performance-article").hasClass( "is-active" ) ){
                    $( "#prevention-article" ).removeClass( "is-active" );
                    $( "#performance-article" ).addClass( "is-active" );//add
                    $( "#mind-health-article" ).removeClass( "is-active" );
                }
                if( $("#tab-mind-health-article").hasClass( "is-active" ) ){
                    $( "#prevention-article" ).removeClass( "is-active" );
                    $( "#performance-article" ).removeClass( "is-active" );
                    $( "#mind-health-article" ).addClass( "is-active" );//add
                }
            }
        }
       $('.accordionBtn').on('click', function(event) {
            $('html,body').animate({scrollTop: $(event.target).offset().top-300}, 'slow');
        });
  </script>
<% end %>