<% title 'Preventive Care' %>
<% description 'For over 100 years, EHE has been the leader in healthcare and wellbeing. We are pioneers in employee health and lifestyle management and are devoted to emp' %>
<% keywords 'EHE, Preventive Care' %>
<div class="page-header">
    <div class='row'>
      <div class='small-12'>
        <h1 class='title-heading text-center'>PREVENTIVE CARE</h1>
      </div>
     </div>
        <div class='row'>
          <div class='small-12 large-7 small-centered column'>
                <p>This is not a "doctor's visit." It’s a fresh start. Your Comprehensive Health Exam gives you a clear and complete picture of your body, mind, habits, and performance. It opens a new kind of health experience, one that lets you see how parts of your life fit together so you can write a new beginning.</p>
          </div>

        </div>
    </div>
    
    
<!-- Tabs -->
<div class="row expanded">
    <div class='row'>
        <div class="small-12">
            <!-- 
                js $('[data-tabs]').eq(0).foundation('selectTab', $('#example')); //will change the first Tabs on the page to whatever panel you choose.
            -->
            <ul class="accordion" data-responsive-accordion-tabs="accordion medium-tabs large-tabs" data-multi-expand="true" id="article-tabs">
                <li class="tabs-title tabs-title-3-up is-active" data-accordion-item>
                    <a href="#prevention-article" aria-selected="true" class="text-right">
                        <div class="tabs-title-text custom-tabs-arrow font-bold">Eat</div>
                    </a>
                </li>
                <li class="tabs-title tabs-title-3-up" data-accordion-item>
                    <a href="#performance-article" class="text-center">
                        <div class="tabs-title-text custom-tabs-arrow font-bold">Move</div>
                    </a>
                </li>
                <li class="tabs-title tabs-title-3-up" data-accordion-item>
                    <a href="#mind-health-article" class="text-left">
                        <div class="tabs-title-text custom-tabs-arrow font-bold">Think</div>
                    </a>
                </li>
  
                <!-- ... -->
            </ul>
        </div>
    </div>
<!-- end Tabs -->
    <div class="tabs-content" data-tabs-content="article-tabs">
    <!-- Prevention Tabs content -->
        <div class="row expanded">
            <div class="small-12">
                <div class="tabs-content" data-tabs-content="article-tabs">
                    <div class="tabs-panel is-active" id="prevention-article"><!-- tabs-panel prevention-article -->
                        <div class="row expanded">
                            <div class="small-12">
                                <div class="custom-article-group prevention-bg">
                                    <div class="row expanded">
                                        <div class="large-6">
                                            <div class="custom-article-overlay prevention">
                                                <div class="row">
                                                    <div class="small-9 small-centered columns">
                                                        <p class="white-text ProximaNova-Medium">How you eat impacts every aspect of your health. The right nutritional insight allows you to create an approach to healthy eating that is enjoyable and sustainable. We feed your mind so you can fill your plate with food you love.</p>
                                                    </div><!-- emd small 8 centered text -->
                                                </div><!-- end row -->
                                            </div><!-- emd custom art overlay performance -->
                                        </div><!-- emd larg 6 -->
                                    </div> <!-- end row -->
                                </div> <!-- end custom article group?? preventive care -->
                            </div><!-- small 12 close -->
                        </div><!-- row expanded close -->  

                        <!-- accordian -->
                        <!-- preventive-care-accordion-section -->

                                   <!-- 
                       ===================================  HIDDEN ACCORDION  ==============================================
                       -->
                      
                      
                        <div class="row">
                            <div class="small-12">
                                <ul class="custom-accordion accordion" data-accordion data-allow-all-closed="true">
                                    <li class="accordion-item" accordion-title data-accordion-item>
                                        <a href="#" class="accordion-title preventive-accordion-section font-bold accordionBtn">Nutritional Assessment</a>
                                        <div class="accordion-content" data-tab-content>
                                            <p>Dive into your diet and eating habits like never before. Get the actionable insight you need to eat well and feel great.</p>
                                        </div>
                                    </li>
                                    <li class="accordion-item" data-accordion-item>
                                        <a href="#" class="accordion-title preventive-accordion-section font-bold accordionBtn">Food Intolerances</a>
                                        <div class="accordion-content" data-tab-content>
                                            <p>Be screened for gluten sensitivity and other gastrointestinal health issues. See what to avoid and how to replace it.</p>
                                        </div>
                                    </li>
                                    <!--
                                    <li class="accordion-item" data-accordion-item>
                                        <a href="#" class="accordion-title preventive-accordion-section font-bold accordionBtn">preventive-care accordion 3</a>
                                        <div class="accordion-content" data-tab-content>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vestibulum dolor eu convallis finibus. Morbi lectus lorem, eleifend nec libero a, sollicitudin feugiat ante. Maecenas ac auctor elit. Vestibulum pharetra, nunc sit amet rhoncus consectetur, quam arcu euismod velit, ac sagittis eros ex sit amet metus. Maecenas elit elit, finibus ut nulla non, posuere dignissim orci. Nullam et ultricies tortor. Phasellus eu aliquet lorem, in tincidunt ex. Curabitur blandit dapibus varius.</p>
                                        </div>
                                    </li>
                                    -->
                                </ul>
                            </div>
                        </div>
                        
                        

                    </div><!-- tabs-panel prevention-article -->
                </div><!-- tabs content 3 end -->
            </div><!-- small 12 end -->
        </div><!-- end expanded row -->
    <!-- End Prevention Tabs content -->

    <!-- Performance Tabs content -->
        <div class="row expanded">
            <div class="small-12">
                <div class="tabs-content" data-tabs-content="article-tabs">
                    <div class="tabs-panel" id="performance-article"><!-- tabs-panel performance-article -->

                        <div class="row expanded">
                            <div class="small-12">
                                <div class="custom-article-group performace-bg">
                                    <div class="row expanded">
                                        <div class="large-6">
                                            <div class="custom-article-overlay performance">
                                                <div class="row">
                                                    <div class="small-9 small-centered columns">
                                                        <p class="white-text ProximaNova-Medium">See your physical fitness in a whole new light. Our care identifies the specific ways in which you can move better than ever, with improved agility, strength, and balance.</p>
                                                    </div><!-- emd small 8 centered text -->
                                                </div><!-- end row -->
                                            </div><!-- emd custom art overlay performance -->
                                        </div><!-- emd larg 6 -->
                                    </div> <!-- end row -->
                                </div> <!-- end custom article group?? preventive care -->
                            </div><!-- small 12 close -->
                        </div><!-- row expanded close -->  

                        <!-- accordian -->
                        <!-- performance-accordion-section -->

                       
                  
             <!-- 
                       ===================================  HIDDEN ACCORDION  ==============================================
             -->        
                                         
                        <div class="row">
                            <div class="small-12">
                                <ul class="custom-accordion accordion" data-accordion data-allow-all-closed="true">
                                    <li class="accordion-item" accordion-title data-accordion-item>
                                        <a href="#" class="accordion-title performance-accordion-section font-bold accordionBtn">Functional Movement Screening</a>
                                        <div class="accordion-content" data-tab-content >
                                            <p>Our innovative technology shows you how your body behaves, yielding insight you can use whether you sit in a cubicle or stay active all day.</p>
                                        </div>
                                    </li>
                                    <li class="accordion-item" data-accordion-item>
                                        <a href="#" class="accordion-title performance-accordion-section font-bold accordionBtn">Body Composition</a>
                                        <div class="accordion-content" data-tab-content>
                                            <p>This nuanced evaluation goes way beyond weight, providing data that can help with everything from long-term disease prevention to daily performance.</p>
                                        </div>
                                    </li>
                                    <!--
                                    <li class="accordion-item" data-accordion-item>
                                        <a href="#" class="accordion-title performance-accordion-section font-bold accordionBtn">performance accordion 3</a>
                                        <div class="accordion-content" data-tab-content>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vestibulum dolor eu convallis finibus. Morbi lectus lorem, eleifend nec libero a, sollicitudin feugiat ante. Maecenas ac auctor elit. Vestibulum pharetra, nunc sit amet rhoncus consectetur, quam arcu euismod velit, ac sagittis eros ex sit amet metus. Maecenas elit elit, finibus ut nulla non, posuere dignissim orci. Nullam et ultricies tortor. Phasellus eu aliquet lorem, in tincidunt ex. Curabitur blandit dapibus varius.</p>
                                        </div>
                                    </li>
                                    -->
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    <!-- tabs-panel performance-article -->
                </div><!-- tabs content 3 end -->
            </div><!-- small 12 end -->
        </div><!-- end expanded row -->
    <!-- End Performance Tabs content -->

    <!--  Longevity Tabs content -->
    <div class="row expanded">
            <div class="small-12">
                <div class="tabs-content" data-tabs-content="article-tabs">
                    <div class="tabs-panel" id="mind-health-article"><!-- tabs-panel mind-health-article -->

                        <div class="row expanded">
                            <div class="small-12">
                                <div class="custom-article-group longevity-bg">
                                    <div class="row expanded">
                                        <div class="large-6">
                                            <div class="custom-article-overlay mind-health">
                                                <div class="row">
                                                    <div class="small-9 small-centered columns">
                                                        <p class="white-text ProximaNova-Medium">Mind health is integral to everything else you do, and how you feel every day. When you find balance and focus, the other pieces of your life fall into place.</p>
                                                    </div><!-- emd small 8 centered text -->
                                                </div><!-- end row -->
                                            </div><!-- emd custom art overlay performance -->
                                        </div><!-- emd larg 6 -->
                                    </div> <!-- end row -->
                                </div> <!-- end custom article group?? preventive care -->
                            </div><!-- small 12 close -->
                        </div><!-- row expanded close -->  

                        <!-- accordian -->
                        <!-- Longevity-accordion-section -->

                      <!-- 
                       ===================================  HIDDEN ACCORDION  ==============================================
                       -->
                                                       
                       
                       
                        <div class="row">
                            <div class="small-12">
                                <ul class="custom-accordion accordion" data-accordion data-allow-all-closed="true">
                                    <li class="accordion-item" accordion-title data-accordion-item>
                                        <a href="#" class="accordion-title mind-health-accordion-section font-bold accordionBtn">Sleep Assessment</a>
                                        <div class="accordion-content" data-tab-content >
                                            <p>To perform during the day, you need insight into your night. We make sure you have everything to be renewed by improved sleep.</p>
                                        </div>
                                    </li>
                                    <!--
                                    <li class="accordion-item" data-accordion-item>
                                        <a href="#" class="accordion-title mind-health-accordion-section font-bold accordionBtn">mind-health accordion 2</a>
                                        <div class="accordion-content" data-tab-content>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vestibulum dolor eu convallis finibus. Morbi lectus lorem, eleifend nec libero a, sollicitudin feugiat ante. Maecenas ac auctor elit. Vestibulum pharetra, nunc sit amet rhoncus consectetur, quam arcu euismod velit, ac sagittis eros ex sit amet metus. Maecenas elit elit, finibus ut nulla non, posuere dignissim orci. Nullam et ultricies tortor. Phasellus eu aliquet lorem, in tincidunt ex. Curabitur blandit dapibus varius.</p>
                                        </div>
                                    </li>
                                    <li class="accordion-item" data-accordion-item>
                                        <a href="#" class="accordion-title mind-health-accordion-section font-bold accordionBtn">mind-health accordion 3</a>
                                        <div class="accordion-content" data-tab-content>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vestibulum dolor eu convallis finibus. Morbi lectus lorem, eleifend nec libero a, sollicitudin feugiat ante. Maecenas ac auctor elit. Vestibulum pharetra, nunc sit amet rhoncus consectetur, quam arcu euismod velit, ac sagittis eros ex sit amet metus. Maecenas elit elit, finibus ut nulla non, posuere dignissim orci. Nullam et ultricies tortor. Phasellus eu aliquet lorem, in tincidunt ex. Curabitur blandit dapibus varius.</p>
                                        </div>
                                    </li>
                                    -->
                                </ul>
                            </div>
                        </div>

                   
                   
                    </div><!-- tabs-panel mind-health-article -->
                </div><!-- tabs content 3 end -->
            </div><!-- small 12 end -->
        </div><!-- end expanded row -->
    <!-- End Mind health Tabs content -->  
        </div>
    </div>
    
<!-- Work-Life Balance-->    
<div class="content-contain">

    <div class='row'>
        <div class='small-12 columns text-center'>
            <h3 class="gray-text">Work-Life Balance</h3>
        </div>
    </div>
    <div class='row'>
        <div class='small-12 large-6 column'>
               <p> We help you avoid the pitfalls of an accelerated world in which our health and relationships are too often sacrificed. Stay balanced and stay well.</p>
        </div>   
    </div>
</div>
<!-- End Work-Life Balance--> 
 
<!-- Book your appointment call to action -->
<div class="expanded row book-your-appointment img-contain paraxify">
  <div class="color-overlay"> </div>
   <div class="small-12">
   <div class="row">
     <div class="small-8 small-centered columns text-center">
          <div class="content-contain">
            <a href="#" class="cta ProximaNova-Medium white-text" data-container="book-your-appointment" >BOOK YOUR APPOINTMENT <svg class="icon circle-arrow"><use xlink:href="#arrow-circle-white" /></svg></a>
          </div>
     </div>
   </div>  
   </div>
</div>
    

<!--- Add in page specific JS  -->

<% content_for :js do %>
  <script>
      var myParaxify = paraxify('.img-contain', {
          speed: 0,
          boost: 1
      });
  </script>
<% end %>