<% title 'Privacy Policy' %>
<% description 'For over 100 years, EHE has been the leader in healthcare and wellbeing. We are pioneers in employee health and lifestyle management and are devoted to emp' %>
<% keywords 'EHE, Privacy' %>
<div class="page-header">
    <div class='row'>
        <div class='small-12'>
            <h1 class='title-heading text-center'>PRIVACY POLICY</h1>
             <p class='text-center'>Updated March 29, 2016</p>  
        </div>
    </div>
</div>
    
<div class='row bot-space-25'>
    <div class='small-12 column'>
        <p>At EHE International, we take your privacy seriously and want you to be aware of how we collect, use, share, and protect your information. </p>
        <p>This policy applies to websites operated by EHE International ("EHE"), including EHEandME.com and EHEIntl.com. </p>
        <p>Please view our <a href="/pdf/EHE-HIPAA-NoticeofPrivacyPractices.pdf">Notice of Privacy Practices</a> to review EHE International's policies regarding the use and disclosure of protected health information (PHI).</p>
        <p>This privacy policy ("Privacy Policy") describes how EHE International treats personal information used in connection with information and services available at www.EHEandME.com (the "Web Site" or "EHEandME"). If we make any substantive changes to our Privacy Policy in the future, we will incorporate those changes here. Your continued use of the Web Site after the changes are posted constitutes your agreement to the changes. If you do not agree to the changes, please discontinue use of the Web Site.</p>
  </div>
</div>
<div class='row bot-space-25'>
    <div class='small-12 column'>            
        <h3 class="drkr-gray-text">Information Collection, Use, and Sharing</h3>
        <h5 class="drkr-gray-text">The information we collect about you</h5>
        <p>The information that we obtain comes either directly from you or from your Sponsor. Your Sponsor (e.g. your employer) may provide us with your personal information to identify you as an eligible EHE member.</p>
        <p>EHE respects the right to privacy for all patients who enter our facilities and all visitors who come to our website. At no time will we collect information that would personally identify you unless you choose to provide it. Any personal information that you submit, such as for appointment requests, is only shared with the appropriate employees of the organization who need this information to respond to your request. Information submitted through our website may be collected to ensure technical functionality or to address any inappropriate use of our website.</p>
  </div>
</div>
<div class='row bot-space-25'>
    <div class='small-12 column'>  
        <h5 class="drkr-gray-text">How we use your information</h5>
        <p>To store information in EHEandME, you will need an account with EHEandME.</p>
        <p>EHEandME's servers automatically record log information about your use of EHEandME (such as number of sign-ins and number of times a link was clicked).</p>
        <p>EHEandME may aggregate data to publish trend statistics and associations.</p>
        <p>The information that we collect about you may also be used for:</p>
        <ul>
            <li>Patient account creation and management</li>
            <li>Responding to requests for services or information</li>
            <li>Indentifying opportunities to improve our services</li>
            <li>Outreach campaigns managed by EHE intended to encourage your use of our programs and services</li>
            <li>Research and analysis</li>
        </ul>
  </div>
</div>
<div class='row bot-space-25'>
    <div class='small-12 column'>  
            <h5 class="drkr-gray-text">How we share your information</h5>
            <p>EHE shares information obtained about you to best serve you and provide you with our services. Your personal information may only be shared with third parties in the ways that are described in this policy, our Terms of Use, or our Notice of Privacy Practices. This information will only be shared with those that have a legal right to access it and that are obligated to protect it, or parties you have specifically authorized to receive it.</p>
  </div>
</div>
<div class='row bot-space-25'>
  <div class='small-12 column'>             
            <h3 class="drkr-gray-text">Personal Information Storage and Retention</h3>
            <p>Personal information that you provide to us will be used as needed in order to provide you with our services. Your information will be retained where necessary to uphold our agreements, to comply with legal regulations, and/or to solve any disputes.</p>
  </div>
</div>
<div class='row bot-space-25'>
  <div class='small-12 column'>             
            <h5 class="drkr-gray-text">Cookies &amp; IP Addresses</h5>
            <p>EHE gathers certain information automatically and stores it. This information may include internet protocol (IP) addresses, browser type, internet service provider (ISP), referring/exit pages, operating system, date/time stamp, and/or clickstream data. EHE and our Partners, analytics or service providers use technologies such as cookies, beacons, tags, and scripts, to analyze trends, administer and track utilization of the website.</p>
            <p>We may collect information about your computer, including where available your IP address, operating system and browser type. We use "cookies" to remember your settings and for authentication. A cookie is a piece of data stored on a site visitor's hard drive to help us improve your access to our site and identify repeat visitors to our site. For instance, when we use a cookie to identify you, you would not have to log in a password more than once, thereby saving time while on our site. Cookies can also enable us to deliver personalized experience on our site. Cookies will not be used to store personally identifiable information.</p>
            <p>You can control the use of cookies with your browser settings. If you reject cookies, you may not be able to log in to our website or use all of its features.</p>
  </div>
</div>
<div class='row bot-space-25'>
  <div class='small-12 column'>             
            <h5 class="drkr-gray-text">Data Security</h5>
            <p>We employ industry standard administrative, physical, and technical measures designed to safeguard and protect information under our controlled authorized access, use, and disclosure. </p>
            <p>Wherever we collect sensitive information, that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a closed lock icon at the bottom of your web browser, or looking for "https" at the beginning of the address of the web page. </p>
            <p>For all services that EHE delivers over the internet, industry standard safeguards are implemented. EHE protects your data using both server authentication and data encryption technology. Access to your personal information is restricted to only authorized EHE employees and certain authorized partners involved in the delivery of our services.</p>
            <p>While we use encryption to protect sensitive electronic information, we also protect your information offline. Only employees who need the information to perform a specific, necessary function are granted access to personally identifiable information. The computers/servers in which we store personally identifiable information are kept in a secure environment.</p>
    </div>
</div>
<div class='row bot-space-25'>
  <div class='small-12 column'>             
            <h5 class="drkr-gray-text">Links to Other Websites</h5>
            <p>Links to other websites are included throughout our website. Although links are provided, we are not responsible for the information practices or privacy policies of these websites operated by others when you stray from our website. If you decide to access a third party's website you should consult that website's terms of use and privacy policy.</p>
  </div>
</div>
<div class='row bot-space-25'>
  <div class='small-12 column'>             
            <h5 class="drkr-gray-text">Social Media</h5>
            <p>Throughout our websites you may encounter social media features that provide the option to "follow us." These social media features may collect your IP address and enable cookies. The social media features found on our website are hosted by a third party or hosted directly by our website. Your interactions with these features are governed by the privacy policy of the company providing it.</p>
  </div>
</div>
<div class='row bot-space-25'>
  <div class='small-12 column'>             
            <h5 class="drkr-gray-text">Children's Privacy</h5>
            <p>EHE's website is not intended for use by children and will not knowingly collect any personal information from persons under the age of 13. If you are the legal guardian of a child under the age of 13 and believe that we have somehow inappropriately collected any personal information from said child, please contact us immediately.</p>
  </div>
</div>
<div class='row bot-space-25'>
  <div class='small-12 column'>             
            <h5 class="drkr-gray-text">Your Access to and Control Over Information</h5>
            <p>You control who can access your personal health information. By default, you are the only user who can view your information. If you choose to, you can share your information with others.</p>
            <p>Only physicians and/or health care providers can upload data onto your Online Medical Record on the Web Site. If there is an omission, error, or issue with the data in your Online Medical Record, immediately contact your physician and health care professionals.</p>
            <p>EHE International will not sell, rent, or share your information (identified or de-identified) without your explicit consent, except when EHE International believes it is required to do so by law. </p>
            <p>You can completely delete your information at any time. Such deletions will take immediate effect in your account, although backup copies of deleted information may persist for a short time. Since deleted data will not be restored, you may want to print information before deleting it.</p>
  </div>
</div>
<div class='row bot-space-25'>
  <div class='small-12 column'>             
            <h3 class="drkr-gray-text">Privacy Policy Updates</h3>
            <p>Our Privacy Policy may change from time to time and all updates will be posted on this page.</p>
  </div>
</div>
<div class='row bot-space-25'>
  <div class='small-12 column'>             
            <h3 class="drkr-gray-text">Contact Information</h3>
            <p>If you feel that we are not abiding by this privacy policy, you should contact us immediately via telephone at 212.332.2397 or by written notice to:</p>
            <p>Privacy &amp; Security Officer<br>
            10 Rockefeller Plaza, 4th Floor<br>
            New York, NY 10020</p>
        </div>
</div>
