<% title 'Terms Of Use' %>
<% description 'For over 100 years, EHE has been the leader in healthcare and wellbeing. We are pioneers in employee health and lifestyle management and are devoted to emp' %>
<% keywords 'EHE, Terms of Use' %>

<div class="page-header">
  <div class='row'>
      <div class='small-12 column'>
        <h1 class='title-heading'>Terms Of Use</h1>
      </div>
  </div>
  </div>
     <div class='row'>
      	<div class='small-12 column'>
            <p>text</p>
        </div>
      	<!-- two columns if needed
        <div class='small-12 large-6 column'>
              <p>text</p>
        </div>
        <div class='small-12 large-6 column'>
            <p>text</p>
        </div>
        -->
      </div>
