<% title 'Terms Of Use' %>
<% description 'For over 100 years, EHE has been the leader in healthcare and wellbeing. We are pioneers in employee health and lifestyle management and are devoted to emp' %>
<% keywords 'EHE, Terms of Use' %>
<div class="page-header">
    <div class='row'>
        <div class='small-12'>
            <h1 class='title-heading text-center'>TERMS AND CONDITIONS</h1>
        </div>
    </div>
    <div class='row'>
        <div class='small-12 column'>
            <p>Your use of www.EHEandME.com (the "Web Site" or "EHEandME") is subject to the following terms and conditions of use ("Terms and Conditions"). EHEandME may revise these terms from time to time by updating this posting with the revised terms taking effect as of the date of its posting. You should review these terms and conditions every time you use this Web Site and its services because they are binding upon you. </p>
            <p class='drkr-gray-text font-bold text-center'>PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY BEFORE USING EHEandME</p>            
            <p>This Web Site is for educational purposes and also can store and transmit data to those who you designate. By using this Web Site, you signify your assent to these Terms and Conditions. If you do not agree to these Terms and Conditions, you may not use the Web Site.</p>
            
            <p class="font-bold">Not Medical Advice; U.S. Use Only</p>
            <p>EHEandME does not offer medical advice and no medical advice is provided on the Web Site. Any content accessed through EHEandME is for informational purposes only, and is not intended to cover all possible uses, directions, precautions, drug interactions, or adverse effects. This content should not be used during a medical emergency or for the diagnosis or treatment of any medical condition. Please consult your doctor or other qualified health care provider if you have any questions about a medical condition, or before taking any drug, changing your diet or commencing or discontinuing any course of treatment. Do not ignore or delay obtaining professional medical advice because of information accessed through EHEandME. Call 911 or your doctor for all medical emergencies.</p>
            <p>EHEandME does not recommend or endorse any specific tests, products or procedures that may be mentioned on the Web Site. EHEandME does not assume any liability for the contents of any material provided on the Web Site. Reliance on any information provided by EHEandME, is at your own risk. EHEandME assumes no liability or responsibility for damage or injury to persons or property arising from any use of any product, information, idea or instruction referenced on the Web Site. EHEandME reserves the right to change or discontinue at any time any aspect or feature of the Web Site. </p>
            <p>You may only use EHEandME if you reside in the United States. </p>

            <p class="font-bold">Your Account And Use of EHEandME</p>
            <p>You are responsible for the security of your passwords and for any use of your account. You must immediately notify EHEandME of any unauthorized use of your password or account by sending an e–mail to the following address: <a href="mailto:EHEandME_Support@EHEIntl.com">EHEandME_Support@EHEIntl.com</a> </p> 
            <p>Your use of EHEandME and any content accessed through EHEandME must comply with all applicable laws, regulations and ordinances, including any laws regarding the export of data or software.</p>
            <p>You must be at least 18 years old to use EHEandME. This Web Site is not intended for use by minors and should not be used by minors. </p>
            <p>You may not access EHEandME other than by the interfaces provided by EHEandME or interfere with or disrupt the proper operation of EHEandME. </p>
            <p>You hereby grant EHEandME a license to use and distribute any information about you collected by, transferred to, or otherwise within the possession of EHEandME, in connection with services provided on EHEandME. However, EHEandME may only use such information as permitted by applicable law. </p>
            <p>You agree to incur the communication costs associated with using the Web Site, including, but not limited to Internet usage fees. If using any service on the Web Site that delivers text messages to your phone, you acknowledge that standard text messaging fees apply. </p> 

            <p class="font-bold">Content and Services Offered Through EHEandME</p>
            <p>EHEandME may make third–party services available through the Web Site. EHEandME may screen, modify, refuse, or remove certain content or third–party services, but is not responsible for and does not endorse any third–party content or services. EHEandME further does not endorse any third–party service providers, other health care providers, products, services, opinions, or web sites accessed through EHEandME. </p>
            <p>USE OF THESE SERVICES AND RELIANCE ON THIS CONTENT IS SOLELY AT YOUR OWN RISK. EHEandME MAY NOT BE HELD LIABLE FOR ANY DAMAGES ARISING OUT OF OR RELATED TO YOUR USE OF ANY THIRD–PARTY SERVICE OR CONTENT. Providers of these third–party services and/or content are EHEandME’s "Licensors" </p>

            <p class="font-bold">Online Medical Record</p>
            <p>EHEandME offers an online medical record service ("Online Medical Record"), consisting of medical records provided by your physician(s) and/or health care providers. YOU ARE SOLELY RESPONSIBLE FOR THE DISSEMINATION OF YOUR ONLINE MEDICAL RECORD. EHEandME DOES NOT IN ANY WAY EDIT, REVIEW, SPONSOR, APPROVE, VERIFY, INVESTIGATE OR OTHERWISE ACKNOWLEDGE THE SUFFICIENCY OR COMPLETENESS OF ANY CONTENT PROVIDED IN YOUR ONLINE MEDICAL RECORD. LIKEWISE, EHEandME DOES NOT IN ANY WAY AUTHORIZE, FACILITATE, OVERSEE, SPONSOR OR IN ANY WAY ASSIST OR PARTICIPATE IN THE DISTRIBUTION OF YOUR ONLINE MEDICAL RECORD. EHEandME IS NOT LIABLE FOR ANY INACCURACY, OMISSION OR ERROR IN YOUR ONLINE MEDICAL RECORD. EHEandME IS NOT LIABLE FOR THE ERRONEOUS DISSEMINATION OF YOUR ONLINE MEDICAL RECORD TO ANY THIRD–PARTY. DISSEMINATION OF YOUR ONLINE MEDICAL RECORD IS SOLELY YOUR RESPONSIBILITY. </p> 

            <p class="font-bold">Intellectual Property</p> 
            <p>You acknowledge, understand and agree that EHEandME has sole and exclusive ownership of all right, title and interest in and to any and all materials on the Web Site, including all designs and information, marketing images (including but not limited to trademarks and other logos), designs, plans and tools, and all other service, marketing and business–related information and data (collectively, the "Materials"). You further acknowledge, represent and warrant that you have not acquired, and shall not acquire, whether by operation of law, these Terms and Conditions, or otherwise, any right, title, interest, or other ownership in or to the Materials. </p>
            <p>You acknowledge, understand and agree that EHEandME has the sole and exclusive ownership of all right, title and interest in and to EHEandME’s trademarks, and all registrations and applications therefore. You further acknowledge, represent and warrant that you have not acquired, and shall not acquire, whether by operation of law, exercise of rights under these Terms and Conditions, or otherwise, any right, title, interest, or other ownership in or to any trademarks which are protected by federal and state law in the United States and throughout the world and/or are displayed on the Web Site. </p>
            <p>When using this Web Site, EHEandME hereby grants you the non–exclusive, terminable, worldwide right pursuant to these Terms and Conditions to view and display the Materials. </p>

            <p class="font-bold">Disclaimer of Warranties and Consequential Damages</p>
            <p>EHEandME does not warrant that the Web Site will be error–free or that EHEandME or the server that makes it available are free of viruses or other harmful components. </p> 
            <p>You acknowledge that in connection with the EHEandME site, information will be transmitted over local exchange, inter–exchange and Internet backbone carrier lines and through routers, switches and other devices owned, maintained and serviced by third party local exchange and long distance carriers, utilities, Internet service providers and others, all of which are beyond the control and jurisdiction of EHEandME and its suppliers. Accordingly, EHEandME assumes no liability for or relating to the delay, failure, interruption or corruption of any data or other information transmitted in connection with use of the EHEandME site. </p> 
            <p>WITHOUT LIMITING THE FOREGOING, EVERYTHING ON THE WEB SITE, INCLUDING ALL EHEandME SERVICES, IS PROVIDED TO YOU "AS IS" AND "AS AVAILABLE" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON–INFRINGEMENT. EHEandME AND ITS SUPPLIERS MAKE NO WARRANTIES ABOUT THE ACCURACY, RELIABILITY, COMPLETENESS OR TIMELINESS OF THE EHEandME MATERIAL, SOFTWARE TEXT, GRAPHICS, AND LINKS OR THE EHEandME SERVICES, OR ABOUT RESULTS TO BE OBTAINED FROM USING THE WEB SITE OR THE EHEandME SERVICES. EHEandME AND ITS SUPPLIERS MAKE NO WARRANTY THAT THE CONTENT CONTAINED ON THIS WEB SITE SATISFIES GOVERNMENTAL REGULATIONS REQUIRING DISCLOSURE OF INFORMATION ON PRESCRIPTION DRUG PRODUCTS. </p>
            <p>Please note that some jurisdictions may not allow the exclusion of implied warranties, so some of the above exclusions may not apply to you. </p>

            <p class="font-bold">Links</p>
            <p>On this Web Site you may be offered links to other web sites operated by parties other than EHEandME. The inclusion of any link to such sites does not imply endorsement by EHEandME of the sites. EHEandME has not reviewed all of the sites linked to EHEandME and is not responsible for the content or accuracy of any off–site pages or any other sites linked to EHEandME. Your linking to any other off–site pages or other sites is at your own risk and is subject to the terms and conditions of use of such sites. </p>

            <p class="font-bold">Limitation of Liability</p> 
            <p>IN NO EVENT SHALL EHEandME, ITS AGENTS OR ANY THIRD PARTIES MENTIONED AT THE WEB SITE BE LIABLE FOR ANY COSTS, DAMAGES AND EXPENSES WHATSOEVER (INCLUDING, WITHOUT LIMITATION, HEALTH PROBLEMS, INCIDENTAL AND CONSEQUENTIAL DAMAGES, LOST PROFITS OR DAMAGES RESULTING FROM LOST DATA OR BUSINESS INTERRUPTION) RESULTING FROM THE USE OR INABILITY TO USE THE EHEandME SITE, THE CONTENT OF THE WEB SITE, THE ONLINE MEDICAL RECORD OR ANY OTHER EHEandME SERVICE, WHETHER BASED ON WARRANTY, CONTRACT, TORT OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT EHEandME IS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. EHEandME SHALL BE LIABLE TO YOU ONLY FOR GROSS NEGLIGENCE OR WILLFUL MISCONDUCT AND ONLY TO THE EXTENT OF ACTUAL DAMAGES INCURRED BY YOU, NOT TO EXCEED U.S. $100.00 (ONE HUNDRED DOLLARS). BECAUSE SOME STATES AND COUNTRIES DO NOT ALLOW THE EXCLUSION OF LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU. REMEDIES UNDER THIS AGREEMENT ARE EXCLUSIVE AND ARE LIMITED TO THOSE EXPRESSLY PROVIDED FOR IN THIS AGREEMENT. </p>

            <p class="font-bold">Indemnification</p>
            <p>You agree to defend, indemnify and hold EHEandME, its officers, directors, employees and agents, licensors and suppliers harmless from and against any claims, actions or demands, liabilities and settlements, including, without limitation, reasonable legal and accounting fees, resulting from, or alleged to result from, your use of EHEandME in a manner that violates or is alleged to violate these Terms and Conditions. EHEandME shall provide notice to you promptly of any such claim, suit or proceeding and shall reasonably cooperate with you, at your expense, in your defense of any such claim, suit or proceeding. </p> 

            <p class="font-bold">Security</p>
            <p>EHEandME utilizes the most current security tools available to ensure the privacy and confidentiality. All information is protected through secure socket layer (SSL) software, which encrypts data to protect it during transmission. EHEandME maintains information on EHEandME, encrypted, on a secure, protected server. </p>

            <p class="font-bold">General Provisions</p> 
            <p>Unless otherwise specified, the information and materials on the Web Site are presented solely for the purpose of promoting products and services of EHEandME. If you use EHEandME from locations outside of the United States, you do so at your own risk and are responsible for compliance with applicable local laws, keeping in mind that access to EHEandME may not be legal by certain persons or in certain countries. </p>

            <p class="font-bold">Termination</p>
            <p>You agree that EHEandME, in its sole discretion, may terminate your use of the Web Site, or any other service of EHEandME if EHEandME reasonably believes that you have violated or acted inconsistently with the letter or spirit of these Terms and Conditions, or violated the rights of EHEandME or any third party, or for any other reason with or without notice to you. You agree that EHEandME will not be liable to you or any third party as a result of such modification or discontinuation. </p> 
            <p>EHEandME and its Licensors own all proprietary rights to EHEandME. EHEandME gives you a personal, revocable, non–assignable, and non–exclusive license to use EHEandME </p>

            <p class="font-bold">Survival</p>
            <p>The provisions entitled "Indemnification" "Disclaimer of Warranties and Consequential Damages" and "Limitation of Liability" will survive termination of this agreement. </p> 

            <p class="font-bold">Jurisdiction</p>
            <p>You expressly agree that exclusive jurisdiction for any dispute with EHEandME, Inc., or in any way relating to your use of EHEandME ("Legal Action"), resides in the courts of Contra Costa County, State of California and you further agree and expressly consent to the exercise of personal jurisdiction in the courts of the State of California in connection with any such dispute, including any claim involving EHEandME, or its affiliates, subsidiaries, employees, contractors, officers, directors, telecommunications providers and content providers. Any Legal Action that is subject to the jurisdiction of federal courts shall be instituted in a federal court in the Central District of California. These Terms and are governed by the internal substantive laws of the State of California, without respect to its conflict of law principles. If any provision of these Terms and Conditions are found to be invalid by any court having competent jurisdiction, the invalidity of such provision shall not affect the validity of the remaining provisions of these Terms and Conditions, which shall remain in full force and effect. No waiver of these Terms and Conditions shall be deemed a further or continuing waiver of such term or condition or any other term or condition. Any cause of action you may have with respect to EHEandME must be commenced within one year after the claim or cause of action arises or such claim or cause of action is barred. </p>

            <p class="font-bold">Complete Agreement</p> 
            <p>These Terms and Conditions constitute the entire agreement between you and EHEandME with respect to the use of the EHEandME site and any content or service contained therein. </p>

            <p class="font-bold">Notice</p> 
            <p>EHEandME may deliver notice to you under these Terms and Conditions by means of electronic mail, a general notice of EHEandME, or by written communication delivered by first class U.S. mail to your address on record in EHEandME’s account information. You may give notice to EHEandME at any time via electronic mail to EHEandME or by letter delivered by first class postage prepaid U.S. mail or overnight courier to the following address: </p>
            <p>EHE International</p>
            <p>10 Rockefeller Plaza, 4th Floor</p>
            <p>New York, New York 10020</p>
            <p>Phone: 212.332.3700</p>
            <p><a href="mailto:EHEandME_Support@EHEIntl.com">EHEandME_Support@EHEIntl.com</a></p>

            <!--
            <ul>
                <li></li>
            </ul>
            
            <h3 class="drkr-gray-text">Information Collection, Use, and Sharing</h3>
            <p class="font-bold">The information we collect about you</p>
            -->
            
        </div>
        <!--
        <div class='small-12 large-6 column'>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </div>
        -->
    </div>
</div>