<% title 'Wellness Care' %>
<% description 'For over 100 years, EHE has been the leader in healthcare and wellbeing. We are pioneers in employee health and lifestyle management and are devoted to emp' %>
<% keywords 'EHE, Wellness Care' %>
<div class='row page-header'>
        <div class='small-12'>
            <h1 class='title-heading text-center'>Year-Round Wellness</h1>
            <div class='row'>
                <div class='small-12 large-6 column'>
                  <p>Health is not a quick fix, it's a journey that requires purposeful navigation and the best possible tools to help you achieve wellness and improve overall performance.</p>
                </div>
                <div class='small-12 large-6 column'>
                <p> We have trusted insights based on real-time, actionable data to help you live well, every day.</p>
                </div>
            </div>
        </div>
    </div>

<!-- Tabs -->
    <div class="row expanded">
        <div class='row'>
        <div class="small-12">
            <ul class="tabs white-background" data-tabs id="article-tabs">
                <li class="tabs-title tabs-title-2-up is-active"><a href="#coaching-article" aria-selected="true" class="text-right"><div class="tabs-title-text custom-tabs-arrow font-bold">Coaching</div></a></li>
                <li class="tabs-title tabs-title-2-up"><a href="#clinical-coordination-article" class="text-left"><div class="tabs-title-text custom-tabs-arrow font-bold">Clinical Coordination</div></a></li>
            </ul>
        </div>
    </div>
 <!-- end Tabs -->

<!-- Coaching Tabs content -->
    <div class="row expanded">
        <div class="small-12">
            <div class="tabs-content" data-tabs-content="article-tabs">
                <div class="tabs-panel is-active" id="coaching-article"><!-- tabs-panel coaching-article -->

                    <div class="row expanded">
                        <div class="small-12">
                            <div class="custom-article-group wellness-care">
                                <div class="row expanded">
                                    <div class="large-6">
                                        <div class="custom-article-overlay coaching">
                                            <div class="row">
                                                <div class="small-8 small-centered columns">
                                                    <p class="white-text ProximaNova-Medium">The personalized approach works because it's both conversational and motivational, tailored to your specific needs and facilitated by true experts.</p>
                                                </div><!-- emd small 8 centered text -->
                                            </div><!-- end row -->
                                        </div><!-- emd custom art overlay coaching -->
                                    </div><!-- emd larg 6 -->
                                </div> <!-- end row -->
                            </div> <!-- end custom article group?? wellness care -->
                        </div><!-- small 12 close -->
                    </div><!-- row expanded close -->  

                    <!-- accordian -->
                    <!-- coaching-accordion-section -->
                    <!--
                    <section>
                    -->
                    <div class="row">
                        <div class="small-12">
                            <ul class="custom-accordion accordion" data-accordion data-allow-all-closed="true">
                                <li class="accordion-item" accordion-title data-accordion-item>
                                    <a href="#" class="accordion-title coaching-accordion-section font-bold accordionBtn">coaching accordion 1</a>
                                    <div class="accordion-content" data-tab-content >
                                        <p>One</p>
                                    </div>
                                </li>
                                <li class="accordion-item" data-accordion-item>
                                    <a href="#" class="accordion-title coaching-accordion-section font-bold accordionBtn">coaching accordion 2</a>
                                    <div class="accordion-content" data-tab-content>
                                        <p>Two</p>
                                    </div>
                                </li>
                                <li class="accordion-item" data-accordion-item>
                                    <a href="#" class="accordion-title coaching-accordion-section font-bold accordionBtn">coaching accordion 3</a>
                                    <div class="accordion-content" data-tab-content>
                                        <p>Three</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div><!-- tabs-panel coaching-article -->
            </div><!-- tabs content 3 end -->
        </div><!-- small 12 end -->
    </div><!-- end expanded row -->
<!-- End Coaching Tabs content -->

<!-- Clinical-coordination Tabs content -->
    <div class="row expanded">
        <div class="small-12">
            <div class="tabs-content" data-tabs-content="article-tabs">
                <div class="tabs-panel" id="clinical-coordination-article"><!-- tabs-panel clinical-coordination-article -->

                    <div class="row expanded">
                        <div class="small-12">
                            <div class="custom-article-group wellness-care">
                                <div class="row expanded">
                                    <div class="large-6">
                                        <div class="custom-article-overlay clinical-coordination">
                                            <div class="row">
                                                <div class="small-8 small-centered columns">
                                                    <p class="white-text ProximaNova-Medium">Great health isn't just about living longer or avoiding illness. It's about performing at a high level and getting the most out of your daily life.</p>
                                                </div><!-- emd small 8 centered text -->
                                            </div><!-- end row -->
                                        </div><!-- emd custom art overlay clinical-coordination -->
                                    </div><!-- emd larg 6 -->
                                </div> <!-- end row -->
                            </div> <!-- end custom article group?? wellness care -->
                        </div><!-- small 12 close -->
                    </div><!-- row expanded close -->  

                    <!-- accordian -->
                    <!-- clinical-coordination-accordion-section -->
                    <!--
                    <section>
                    --> 
                    <div class="row">
                        <div class="small-12">
                            <ul class="custom-accordion accordion" data-accordion data-allow-all-closed="true">
                                <li class="accordion-item" accordion-title data-accordion-item>
                                    <a href="#" class="accordion-title clinical-coordination-accordion-section font-bold accordionBtn">clinical-coordination accordion 1</a>
                                    <div class="accordion-content" data-tab-content >
                                        <p>One</p>
                                    </div>
                                </li>
                                <li class="accordion-item" data-accordion-item>
                                    <a href="#" class="accordion-title clinical-coordination-accordion-section font-bold accordionBtn">clinical-coordination accordion 2</a>
                                    <div class="accordion-content" data-tab-content>
                                        <p>Two</p>
                                    </div>
                                </li>
                                <li class="accordion-item" data-accordion-item>
                                    <a href="#" class="accordion-title clinical-coordination-accordion-section font-bold accordionBtn">clinical-coordination accordion 3</a>
                                    <div class="accordion-content" data-tab-content>
                                        <p>Three</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div><!-- tabs-panel clinical-coordination-article -->
            </div><!-- tabs content 3 end -->
        </div><!-- small 12 end -->
    </div><!-- end expanded row -->
<!-- End Clinical-coordination Tabs content -->
    </div>
    
    
    
    
    
    
<!-- Book your appointment call to action -->
<div class="expanded row book-your-appointment img-contain paraxify">
  <div class="color-overlay"> </div>
   <div class="small-12">
   <div class="row">
     <div class="small-8 small-centered columns text-center">
          <div class="content-contain">
            <a href="#" class="cta ProximaNova-Medium white-text" data-container="book-your-appointment" >BOOK YOUR APPOINTMENT <svg class="icon circle-arrow"><use xlink:href="#arrow-circle-white" /></svg></a>
          </div>
     </div>
   </div>  
   </div>
</div>




<!--- Add in page specific JS  -->

<% content_for :js do %>
<script>
            var myParaxify = paraxify('.img-contain', {
            speed: 0,
            boost: 1
        });
</script>
<% end %>