 <!-- formerly YEAR ROUND VISIT or WELLNESS CARE-->
<% title 'Your Visit' %>
<% description 'For over 100 years, EHE has been the leader in healthcare and wellbeing. We are pioneers in employee health and lifestyle management and are devoted to emp' %>
<% keywords 'EHE, Wellness Care, Year-Round Care' %>
<div class='row page-header'>
        <div class='small-12 column'>
            <h1 class='title-heading'>Your Visit</h1>
            <div class='row'>
                <div class='small-12 large-6 column'>
                  <p>The in-clinic experience at EHE is where you first engage with the science of prevention and see your health from new vantage points.</p>
                </div>
                <div class='small-12 large-6 column'>
                <p>You will receive innovative screenings targeted to your needs, a holistic assessments of your body, mind, and nutritional health, and an in-depth consultation with your EHE physician.</p>
                </div>
            </div>
        </div>
    </div>

<!-- Tabs -->
    <div class="row expanded">

        <div class='row hide-for-small-only'>
        <div class="small-12">
            <ul class="tabs white-background" data-tabs id="article-tabs">
                <li class="tabs-title tabs-title-2-up is-active" role="presentation">
                  <a href="#coaching-article" aria-selected="true" class="text-right tabs-title-text custom-tabs-arrow font-bold" role="tab" aria-controls="coaching-article" id="coaching-article-label" tabindex="0">
                  What to Expect</a>
                </li>
                <!--
                <li class="tabs-title tabs-title-3-up" role="presentation">
                  <a href="#clinical-coordination-article" class="text-center tabs-title-text custom-tabs-arrow font-bold" role="tab" aria-controls="clinical-coordination-article" aria-selected="false" id="clinical-coordination-article-label" tabindex="-1">
                  HEALTH MENTORS</a>
                </li>
                -->
                <li class="tabs-title tabs-title-2-up" role="presentation">
                  <a href="#eheme-article" class="text-left tabs-title-text custom-tabs-arrow font-bold" role="tab" aria-controls="eheme-article" aria-selected="false" id="eheme-article-label" tabindex="-1">
                  How to Prepare</a>
                </li>
            </ul>
        </div>
    </div>
 <!-- end Tabs -->

<!-- Coaching Tabs content -->
<div class="row expanded">
    <div class="small-12">
        <div class="tabs-content" data-tabs-content="article-tabs">
            <div class="tabs-panel is-active" id="coaching-article"><!-- tabs-panel coaching-article -->
                <div class="tab-content-title text-center show-for-small-only coaching">What to Expect</div>

                <div class="row expanded">
                    <div class="small-12">
                        <div class="custom-article-group coaching-bg">
                            <div class="row expanded">
                                <div class="large-6">
                                    <div class="custom-article-overlay coaching">
                                        <div class="row">
                                            <div class="small-8 small-centered columns">
                                                <p class="white-text ProximaNova-Medium">Your EHE visit is designed with your comfort and convenience in mind. When you arrive, you will already know the components of your exam and be able to review them with our team. Your experience includes full movement, mental, and nutritional assessments; enhanced preventive screenings; and a full physical examination and discussion with your doctor.</p>
                                            </div><!-- emd small 8 centered text -->
                                        </div><!-- end row -->
                                    </div><!-- emd custom art overlay coaching -->
                                </div><!-- emd larg 6 -->
                            </div> <!-- end row -->
                        </div> <!-- end custom article group?? wellness care -->
                    </div><!-- small 12 close -->
                </div><!-- row expanded close -->  

                <!-- accordian -->
                <!-- coaching-accordion-section -->
                <!--
                <section>
                -->
                <div class="row">
                    <div class="small-12">
                        <ul class="custom-accordion accordion" data-accordion data-allow-all-closed="true">
                            <li class="accordion-item" accordion-title data-accordion-item>
                                <a href="#" class="accordion-title coaching-accordion-section font-bold accordionBtn">How long will my visit last?</a>
                                <div class="accordion-content" data-tab-content >
                                    <p>It depends on your age and the specific screenings you receive. Most patients under 40 years old will finish their exam in approximately two hours. Patients over 40 years old may take between three and four hours to complete their exam, based on which additional components (such as mammogram or stress echocardiogram) they need.</p>
                                </div>
                            </li>
                            <li class="accordion-item" data-accordion-item>
                                <a href="#" class="accordion-title coaching-accordion-section font-bold accordionBtn">Will EHE fill my prescriptions, and/or write me new ones?</a>
                                <div class="accordion-content" data-tab-content>
                                    <p>No. EHE provides preventive health, but not prescriptive pharmaceutical treatment. All medications will be managed by your primary care physician or a specialist.</p>
                                </div>
                            </li>
                            <li class="accordion-item" data-accordion-item>
                                <a href="#" class="accordion-title coaching-accordion-section font-bold accordionBtn">Can I decline some of the tests that are part of the EHE exam if I want to use a different provider?</a>
                                <div class="accordion-content" data-tab-content>
                                    <p>Yes, absolutely. Simply let us know at the time of scheduling which tests you’re getting elsewhere. We want your visit to be efficient and in line with your overall care.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div><!-- tabs-panel coaching-article -->
        </div><!-- tabs content 3 end -->
    </div><!-- small 12 end -->
</div><!-- end expanded row -->
<!-- End Coaching Tabs content -->


<!-- Ehe + Me Tabs content -->
<div class="row expanded">
    <div class="small-12">
        <div class="tabs-content" data-tabs-content="article-tabs">
            <div class="tabs-panel" id="eheme-article"><!-- tabs-panel eheme-article -->
                <div class="tab-content-title text-center show-for-small-only eheme">How to Prepare</div>

                <div class="row expanded"> 
                    <div class="small-12">
                        <div class="custom-article-group eheme-bg">
                            <div class="row expanded">
                                <div class="large-6">
                                    <div class="custom-article-overlay eheme">
                                        <div class="row">
                                            <div class="small-8 small-centered columns">
                                                <p class="white-text ProximaNova-Medium">After you schedule your visit, your Care Navigator will contact you to review the components of your exam and go over any necessary preparation guidelines. Instructions are specific and simple, and we are happy to answer any questions in advance.</p>
                                            </div><!-- emd small 8 centered text -->
                                        </div><!-- end row -->
                                    </div><!-- emd custom art overlay eheme -->
                                </div><!-- emd larg 6 -->
                            </div> <!-- end row -->
                        </div> <!-- end custom article group?? wellness care -->
                    </div><!-- small 12 close -->
                </div><!-- row expanded close -->  

                <!-- accordian -->
                <!-- eheme-accordion-section -->
                <!--
                <section>
                -->
                <div class="row">
                    <div class="small-12">
                        <ul class="custom-accordion accordion" data-accordion data-allow-all-closed="true">
                            <li class="accordion-item" accordion-title data-accordion-item>
                                <a href="#" class="accordion-title eheme-accordion-section font-bold accordionBtn">Do I need to fast?</a>
                                <div class="accordion-content" data-tab-content >
                                    <p>Only if you are over 50 years old and scheduled for a vascular screening. If so, please refrain from eating, drinking, or smoking for at least four hours prior to your appointment. Water is permissible, and you should continue to take any prescribed medications. Diabetic patients should check their to make sure it’s permissible to take their pills on an empty stomach.</p> 
                                </div>
                            </li>
                            <li class="accordion-item" data-accordion-item>
                                <a href="#" class="accordion-title eheme-accordion-section font-bold accordionBtn">What should I wear to my visit?</a>
                                <div class="accordion-content" data-tab-content>
                                    <p>Dress as you normally would. You will be given a pair of scrubs to change into upon arrival for your exam. If you are scheduled for a cardiac stress test, it is recommended that you bring athletic shoes. Women are advised to wear or bring a support bra, as underwire bras and take tops are not suitable for the cardiac stress test.</p>
                                </div>
                            </li>
                            <li class="accordion-item" data-accordion-item>
                                <a href="#" class="accordion-title eheme-accordion-section font-bold accordionBtn">How should I prepare for a mammogram?</a>
                                <div class="accordion-content" data-tab-content>
                                    <p>If your last mammogram was not taken at EHE, please bring your most recent film with you. This enables the radiologist to make a comparison study against your current films to identify any subtle changes. Do not apply cream, lotion, talcum powder, or deodorant on your upper body the day of your mammogram.</p>
                                </div>
                            </li>
                            <li class="accordion-item" data-accordion-item>
                                <a href="#" class="accordion-title eheme-accordion-section font-bold accordionBtn">Are any of the procedures optional?</a>
                                <div class="accordion-content" data-tab-content>
                                    <p>Yes. We give every patient the opportunity to have our full range of core enhanced preventive screenings, as well as age- and gender-appropriate evaluations for heart health, cancer, and other risks. But each visit is personalized for the patient, and you can opt not to certain components if you'd prefer.</p>
                                </div>
                            </li>
                            <li class="accordion-item" data-accordion-item>
                                <a href="#" class="accordion-title eheme-accordion-section font-bold accordionBtn">What if I need to cancel or reschedule?</a>
                                <div class="accordion-content" data-tab-content>
                                    <p>Simply log into your EHE+Me account or call us at (800) 362-8671. We're happy to accommodate whatever rescheduling you need.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div><!-- tabs-panel eheme-article -->
        </div><!-- tabs content 3 end -->
    </div><!-- small 12 end -->
</div><!-- end expanded row -->
<!-- End EHE + Me Tabs content -->


</div>
    
    
    
    
    
    
<!-- Book your appointment call to action -->
<div class="expanded row book-your-appointment img-contain paraxify">
  <div class="color-overlay"> </div>
   <div class="small-12">
   <div class="row">
     <div class="small-8 small-centered columns text-center">
          <div class="content-contain">
            <a href="#" class="cta ProximaNova-Medium white-text" data-container="book-your-appointment" >BOOK YOUR APPOINTMENT <svg class="icon circle-arrow"><use xlink:href="#arrow-circle-white" /></svg></a>
          </div>
     </div>
   </div>  
   </div>
</div>




<!--- Add in page specific JS  -->

<% content_for :js do %>
<script>
            var myParaxify = paraxify('.img-contain', {
            speed: 0,
            boost: 1
        });
        var isBreakPoint = function (bp) {
            var bps = [0, 685, 1024, 1200, 1440],
                w = $(window).width(),
                min, max
            for (var i = 0, l = bps.length; i < l; i++) {
            if (bps[i] === bp) {
                min = bps[i-1] || 0
                max = bps[i]
                break
            }
            }
            return w > min && w <= max
        }

        $(window).on('changed.zf.mediaquery', function(event, newSize, oldSize) {
            // newSize is the name of the now-current breakpoint, oldSize is the previous breakpoint
            //alert("newSize: "+newSize);
            setTabsMediaQuery(event, newSize, oldSize);
        });

        $(window).on("load orientationchange", function(event, newSize, oldSize) {
            //doSomething();
            console.log('load, or orientationchange');
            //if (isBreakPoint(685)) { 
            /*
            if(Foundation.MediaQuery.current == "small"){
                newSize = "small";
            }
            */
            
            setTabsMediaQuery(event, Foundation.MediaQuery.current, oldSize);
        });

        function setTabsMediaQuery(event, newSize, oldSize){
            console.log('setTabsMediaQuery event:'+event);
            console.log('setTabsMediaQuery newSize:'+newSize);
            console.log('setTabsMediaQuery oldSize:'+oldSize);
            if( newSize == "small"){
                $( "#coaching-article" ).addClass( "is-active" );//add
                $( "#clinical-coordination-article" ).addClass( "is-active" );//add
                $( "#eheme-article" ).addClass( "is-active" );//add
                if( $("#tab-coaching-article").hasClass( "is-active" ) ){
                    $("html, body").animate({ scrollTop: $('#coaching-article').offset().top - (window.innerHeight/2) }, 0);
                }
                if( $("#tab-clinical-coordination-article").hasClass( "is-active" ) ){
                    $("html, body").animate({ scrollTop: $('#clinical-coordination-article').offset().top - (window.innerHeight/2) }, 0);
                }
                if( $("#tab-eheme-article").hasClass( "is-active" ) ){
                    $("html, body").animate({ scrollTop: $('#eheme-article').offset().top - (window.innerHeight/2) }, 0);
                }
                
            }else{
                if(oldSize=="small"){
                    $("html, body").animate({ scrollTop: $('#tab-coaching-article').offset().top - (window.innerHeight/2) }, 0);
                }
                
                if( $("#tab-coaching-article").hasClass( "is-active" ) ){
                    $( "#coaching-article" ).addClass( "is-active" );//add
                    $( "#clinical-coordination-article" ).removeClass( "is-active" );
                    $( "#eheme-article" ).removeClass( "is-active" );
                }
                if( $("#tab-clinical-coordination-article").hasClass( "is-active" ) ){
                    $( "#coaching-article" ).removeClass( "is-active" );
                    $( "#clinical-coordination-article" ).addClass( "is-active" );//add
                    $( "#eheme-article" ).removeClass( "is-active" );
                }
                if( $("#tab-eheme-article").hasClass( "is-active" ) ){
                    $( "#coaching-article" ).removeClass( "is-active" );
                    $( "#clinical-coordination-article" ).removeClass( "is-active" );
                    $( "#eheme-article" ).addClass( "is-active" );//add
                }
            }
        }
       $('.accordionBtn').on('click', function(event) {
            $('html,body').animate({scrollTop: $(event.target).offset().top-300}, 'slow');
        });
</script>
<% end %>