<%= render :partial => 'shared/admin_nav' %>
<h1>Editing Campaign</h1>

<%= render 'form', campaign: @campaign %>

<%= link_to 'Show', admin_campaign_path(@campaign) %> |
<%= link_to 'Back', admin_campaigns_path %>
