<%= render :partial => 'shared/admin_nav' %>
<h1>Editing Commander</h1>

<%= render 'form', commander: @commander %>

<%= link_to 'Show', admin_commander_path(@commander) %> |
<%= link_to 'Back', admin_commanders_path %>
