  <div class='row'>
    <div class="row">
      <div class="small-12 columns">
        <div class="row">
          <h4>Post Set as Featured</h4>
            <p><%= image_tag @post.main_image.url(:medium) %></p>
        </div>
  </div>
