<% title 'Blog' %>
<% description 'For over 100 years, EHE has been the leader in healthcare and wellbeing. We are pioneers in employee health and lifestyle management and are devoted to emp' %>
<% keywords 'EHE, Blog' %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>body</th>
      <th>Created By: </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%=h truncate(post.body, :length => 300, :omission => ". . ." , :escape => false) %></td>
        <td><%=  %></td>
        <td><%= link_to 'Read More', post_path(post) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


