<% title @post.title %>
<% description @post.meta_description %>
<% keywords "EHE, #{@post.all_tags}"  %>
<div>
  <h1><%= @post.title %></h1>
  <h5>By: EHE HEALTH | <%= @post.created_at.to_time.strftime('%B %e %Y') %></h5>
  <p>Tags: <%=raw tag_links(@post.all_tags)%></p>
  <p><%=raw @post.body %></p>
</div>

