<% title @post.title %>
<% description @post.meta_description %>
<% keywords "EHE, #{@post.all_tags}"  %>
<!-- Blog hero image -->
<div class="bot-space-75">
  <div id="blog-hero-container">
    <div class="row no-bottom-margin" >
      <div class="content-contain hero">
        <h1 class="title-heading white-text">BLOG</h1>
      </div>
    </div>
    <img src="images/blog-story-hero-bg-placeholder.jpg" alt="">
  </div>
</div>
<div class='row'>
  <div class="small-12">
    <!-- left column -->
    <div class='small-12 large-3 column'>
      <!-- Today's Date -->
      <div class="row">
        <div class="bot-space-75">
          <p class="gray-text font-bold"><%= @post.created_at.to_time.strftime('%B %e %Y') %></p>
        </div>
      </div>
      <!-- End Today's Date -->
      <!-- SHARE Social Media -->
      <div class="row">
        <div class="bot-space-75">
          <p class="font-bold">
            SHARE
          </p>
          <!--  social container -->
          <div class="social-icons-container">
            <div class="small-4 large-4">
              <a href="https://www.instagram.com/eheintl/" target="_blank"><img class="social-icons" src="/images/icon-instagram.png" alt="instagram"></a>
              <a href="https://www.facebook.com/ehehealth/" target="_blank"><img class="social-icons" src="/images/icon-facebook.png" alt="facebook"></a>
              <a href="https://twitter.com/EHEIntl/" target="_blank"><img class="social-icons" src="/images/icon-twitter.png" alt="twitter"></a>
              <a href="https://www.youtube.com/user/EHEintl100/" target="_blank"><img class="social-icons" src="/images/icons-youtube.png" alt="youtube"></a>
            </div>
          </div><!-- end social container -->
        </div>
      </div>
      <!-- End SHARE Social Media -->
      <!-- Additional Blog posts -->
      <div class="row">
        <div class="bot-space-75">
          <p class="gray-text">DEC 1st, 2017  |  Blog</p>
          <a href="#" class="drkr-blue-text font-bold">
            These Are the Best Stress Relief Toys and Tools
          </a>

        </div>
      </div>
      <div class="row">
        <div class="bot-space-75">
          <p class="gray-text">DEC 1st, 2017  |  PR</p>
          <a href="#" class="drkr-blue-text font-bold">
            Make These Amazing and Healthy Holiday Cocktails
          </a>

        </div>
      </div>
      <div class="row">
        <div class="bot-space-75">
          <p class="gray-text">DEC 1st, 2017  |  News</p>
          <a href="#" class="drkr-blue-text font-bold">
            How to Soothe Your Holiday Stress
          </a>

        </div>
      </div>
      <div class="row">
        <div class="bot-space-75">
          <p class="gray-text">DEC 1st, 2017  |  Blog</p>
          <a href="#" class="drkr-blue-text font-bold">
            How to Spread Good Health with Holiday Gifts
          </a>

        </div>
      </div>
      <!-- End Additional Blog posts -->
    </div>
    <!-- end left column -->
    <div class='small-12 large-8 columns'>
      <!-- Blog Story -->
      <div class="bot-space-75">
        <%= image_tag @post.main_image.url %>
        <h3 class="gray-text"><%= @post.title %></h3>
        <%=raw @post.body %>
      </div>
      <!-- end Blog Story -->
    </div>
  </div>
</div>



