body {
    font-size: 18px;
  }

input .hidden {
  visibility: hidden!important;
}

.post-body {
  margin-bottom: 30px;
}

.post-form {
  margin-bottom: 50px;
}

.post-form .field {
  border-width: .5px;
  border-color: black;
}


.post-pagination a {
  display: inline-block;
  margin-bottom: 50px;
}


#check_all {
  display: inline-block;
  padding: 5px 10px;
  font-size: .8em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4088D9;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px #999;
}

#check_all:hover {background-color: #085EBF}

#check_all:active {
  background-color: #085EBF;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}


.header-name{
  background-color: rgba(26, 24, 24, 0.7);
  padding: 5px 0;
}
.header-name p{
  color:#fff;
  margin-bottom: 0;
}
.header-name p span{
  margin-right:20px;
}
.header-name a{
  color: #fff;
}
.header-name a:hover, .header-nav a:hover{
  color: #ffc700;
}

.header-nav{
  background-color: rgba(26, 24, 24, 0.85);
  padding: 10px 0;
}
.header-nav a{
  color: #fff;
  margin: 0 2%;
}
.header-nav a:first-child{
  margin-left: 0;
}
.header-nav a:last-child{
  margin-right: 0;
}
